﻿@model IEnumerable<Thihay.API.Client.Models.Subject>
<ul>
    @if (Model != null)
    {
        foreach (var subject in Model)
        {
            <li>
                <a class="pointer" asp-route="topic" asp-route-subjectId="@subject.Id">@subject.SubjectName</a>
            </li>
        }

    }
</ul>