<script src="/Public/js/Site.js"></script>
 <div class="col col-300">
    <div class="block-09">
        <div class="row">
            <div class="col col-110">
                <div class="avatar">
                    <div class="image">
                        <img id="avatar" src="asset/img/avatar.jpg" width="180" height="180" alt="Avatar"/>
                    </div>
                    <div class="upload">
                        <div class="text"><span>Photo</span></div>
                        <div class="file"><input name="avatar" onchange="readURL(this)" type="file"></div>
                    </div>
                    <script>
                        function readURL(input) {
                            if (input.files && input.files[0]) {
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    jQuery('#avatar').attr('src', e.target.result)
                                };
                                reader.readAsDataURL(input.files[0]);
                            }
                            $(input).removeAttr('name').attr('name', 'portrait');
                        }
                    </script>
                </div>
            </div>
            <div class="col col-190">
                <h3><%=Userinfo.s_fullname %></h3>
                <p>VIP đến:  0 ngày</p>
                <a class="btn-buy" href="" title=""><i class="fa fa-plus"></i>Mua VIP</a>
            </div>
        </div>
        <ul class="levels">
            <li>
                <img src="asset/img/data/img-30x34-1.jpg" width="30" height="34" alt=""/>
            </li>
            <li>
                <img src="asset/img/data/img-30x34-2.jpg" width="30" height="34" alt=""/>
            </li>
            <li>
                <img src="asset/img/data/img-30x34-3.jpg" width="30" height="34" alt=""/>
            </li>
            <li>
                <img src="asset/img/data/img-30x34-4.jpg" width="30" height="34" alt=""/>
            </li>
            <li>
                <img src="asset/img/data/img-30x34-5.jpg" width="30" height="34" alt=""/>
            </li>
            <li>
                <img src="asset/img/data/img-30x34-6.jpg" width="30" height="34" alt=""/>
            </li>
            <li>
                <img src="asset/img/data/img-30x34-7.jpg" width="30" height="34" alt=""/>
            </li>
            <li>
                <img src="asset/img/data/img-30x34-8.jpg" width="30" height="34" alt=""/>
            </li>
            <li>
                <img src="asset/img/data/img-30x34-9.jpg" width="30" height="34" alt=""/>
            </li>
            <li>
                <img src="asset/img/data/img-30x34-10.jpg" width="30" height="34" alt=""/>
            </li>
            <li>
                <img src="asset/img/data/img-30x34-11.jpg" width="30" height="34" alt=""/>
            </li>
        </ul>
        <div class="handle sp">
            <a href="#" data-accordion="true" data-parent="block-09" data-target="nav-dashboard" title="Thông tin tài khoản"><span>Thông tin tài khoản</span></a>
        </div>
        <ul class="nav-dashboard">
            <li>
                <a href="/UserInfo.aspx?tab=info" title=""><span>Thông tin tài khoản</span></a>
            </li>
            <li>
                <a href="/UserInfo.aspx?tab=vip" title=""><span>Thông tin VIP</span></a>
            </li>
            <li>
                <a href="/UserInfo.aspx?tab=profile&c=1" title=""><span>Học bạ</span></a>
            </li>
            <li>
                <a href="/UserInfo.aspx?tab=repass" title=""><span>Đổi mật khẩu</span></a>
            </li>
            <li>
                <a onclick="Logout()" title=""><span><i class="fa fa-sign-out"></i>Thoát</span></a>
            </li>
        </ul>
    </div>
</div>
