 <div class="col col-760">
    <h2 class="title">Học bạ</h2>
    <div class="data">
        <div class="block-11">
            <ul class="nav-tab">
                <li>
                    <a href="/UserInfo.aspx?tab=profile&c=1" title="">Toán Tiếng Việt</a>
                </li>
                <li>
                    <a href="/UserInfo.aspx?tab=profile&c=2" title="">Toán Tiếng Anh</a>
                </li>
                <li>
                    <a href="/UserInfo.aspx?tab=profile&c=3" title="">Tiếng Anh</a>
                </li>
                <li>
                    <a href="/UserInfo.aspx?tab=profile&c=4" title="">IQ</a>
                </li>
            </ul>
            <div class="stats">
                <div class="row">
                    <div class="col col-220">
                        <div class="score">
                            <div class="inner">
                                <div class="group">
                                    <div class="cel">
                                        <div class="text">ĐIỂM TRUNG BÌNH</div>
                                        <div class="number">8.63</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-540">
                        <div class="table">
                            <div class="line">
                                <div class="cel">Tổng điểm:</div>
                                <div class="cel">0</div>
                            </div>
                            <div class="line">
                                <div class="cel">Số bài toán đã làm:</div>
                                <div class="cel">0</div>
                            </div>
                            <div class="line">
                                <div class="cel">Số bài toán làm đúng:</div>
                                <div class="cel">0</div>
                            </div>
                            <div class="line">
                                <div class="cel">Điểm xuất sắc:</div>
                                <div class="cel">0</div>
                            </div>
                            <div class="line">
                                <div class="cel">Tỷ lệ trả lời đúng:</div>
                                <div class="cel">0%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="gradebook">
                <div class="head">Bảng điểm</div>
                <div class="responsive">
                    <div class="table" id="front-gradebook">
                       <!-- <div class="line"> -->
                            <!-- <div class="cel">Nội dung</div> -->
                            <!-- <div class="cel">Điểm số</div> -->
                            <!-- <div class="cel">Đúng</div> -->
                            <!-- <div class="cel">Sai</div> -->
                            <!-- <div class="cel">Tổng</div> -->
                            <!-- <div class="cel">Lớp</div> -->
                            <!-- <div class="cel">Bắt đầu thực hành</div> -->
                            <!-- <div class="cel">Lần cuối thực hành</div> -->
                        <!-- </div> -->
                       <!-- <div class="line"> -->
                            <!-- <div class="cel"><a href="" title="">Toán đố</a></div> -->
                            <!-- <div class="cel">10</div> -->
                            <!-- <div class="cel">10</div> -->
                            <!-- <div class="cel">0</div> -->
                            <!-- <div class="cel">10</div> -->
                            <!-- <div class="cel">1</div> -->
                            <!-- <div class="cel">2016-03-15<br/>15:00:30</div> -->
                            <!-- <div class="cel">2016-03-15<br/>15:00:30</div> -->
                        <!-- </div> -->
                    </div>
                </div>
                <div class="paging">
                    <ul>
                        <li>
                            <a  onclick="prevpage()"><i class="fa fa-angle-left"></i></a>
                        </li>
                        <%=Page %>
                        <li>
                            <a onclick="nextpage()"><i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
