<div class="col col-760">
    <h2 class="title">Thông tin tài khoản</h2>
    <div class="data">
        <div class="block-10">
                <div class="item">
                    <div class="label">Tên đăng nhập</div>
                    <div class="control"><span><%=Userinfo.s_username %></span></div>
                </div>
                <div class="item">
                    <div class="label">Email</div>
                    <div class="control"><span><%=Userinfo.s_email %></span></div>
                </div>
               
                <div class="item">
                    <div class="label">Ngày đăng ký</div>
                    <div class="control"><span><%=Userinfo.d_create_date %></span></div>
                </div>
                <div class="item">
                    <div class="label">Bạn đang ở</div>
                    <div class="row">
                        <div class="col col-290">
                            <select class="form-control" name="city" onchange="Load_District($(this).val())">
                                <option value="0">-- Tỉnh/thành phố</option>
                                <option value="1">Hà Nội</option>
                                <option value="2">Hồ Chí Minh</option>
                                <option value="3">An Giang</option>
                                <option value="4">Bà Rịa - Vũng Tàu</option>
                                <option value="5">Bắc Cạn</option>
                                <option value="6">Bắc Giang</option>
                                <option value="7">Bạc Liêu</option>
                                <option value="8">Bắc Ninh</option>
                                <option value="9">Bến Tre</option>
                                <option value="10">Bình Định</option>
                                <option value="11">Bình Dương</option>
                                <option value="12">Bình Phước</option>
                                <option value="13">Bình Thuận</option>
                                <option value="14">Cà Mau</option>
                                <option value="15">Cần Thơ</option>
                                <option value="16">Cao Bằng</option>
                                <option value="17">Đà Nẵng</option>
                                <option value="65">Đắc Nông</option>
                                <option value="18">Đăk Lăk</option>
                                <option value="19">Điện Biên</option>
                                <option value="20">Đồng Nai</option>
                                <option value="21">Đồng Tháp</option>
                                <option value="22">Gia Lai</option>
                                <option value="24">Hà Giang</option>
                                <option value="26">Hà Nam</option>
                                <option value="28">Hà Tĩnh</option>
                                <option value="29">Hải Dương</option>
                                <option value="30">Hải Phòng</option>
                                <option value="66">Hậu Giang</option>
                                <option value="31">Hòa Bình</option>
                                <option value="32">Hưng Yên</option>
                                <option value="33">Khánh Hòa</option>
                                <option value="34">Kiên Giang</option>
                                <option value="35">KonTum</option>
                                <option value="36">Lai Châu</option>
                                <option value="37">Lâm Đồng</option>
                                <option value="38">Lạng Sơn</option>
                                <option value="39">Lào Cai</option>
                                <option value="40">Long An</option>
                                <option value="67">Lưu học sinh đang ở nước ngoài</option>
                                <option value="41">Nam Định</option>
                                <option value="42">Nghệ An</option>
                                <option value="43">Ninh Bình</option>
                                <option value="44">Ninh Thuận</option>
                                <option value="45">Phú Thọ</option>
                                <option value="46">Phú Yên</option>
                                <option value="47">Quảng Bình</option>
                                <option value="48">Quảng Nam</option>
                                <option value="49">Quảng Ngãi</option>
                                <option value="50">Quảng Ninh</option>
                                <option value="51">Quảng Trị</option>
                                <option value="52">Sóc Trăng</option>
                                <option value="53">Sơn La</option>
                                <option value="54">Tây Ninh</option>
                                <option value="55">Thái Bình</option>
                                <option value="56">Thái Nguyên</option>
                                <option value="57">Thanh Hóa</option>
                                <option value="58">Thừa Thiên Huế</option>
                                <option value="59">Tiền Giang</option>
                                <option value="60">Trà Vinh</option>
                                <option value="61">Tuyên Quang</option>
                                <option value="62">Vĩnh Long</option>
                                <option value="63">Vĩnh Phúc</option>
                                <option value="64">Yên Bái</option>
                            </select>
                        </div>
                        <div class="col col-290">
                            <select class="form-control" name="district" onchange="Load_School($(this).val())">
                                <option value="">-- Quận/huyện</option>
                                <%=DDLdistrict %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="label">Bạn đang học tại trường:</div>
                    <div class="control">
                        <select class="form-control" name="school">
                            <option value="">-- Chọn trường</option>
                            <%=DDLschool %>
                        </select>
                    </div>
                </div>
                <div class="item">
                    <div class="label">Ngày sinh:</div>
                    <div class="control">
                        <div class="row">
                        <div class="col front-col-290">
                            <select class="form-control" name="ddl_day" id="ddl_day">
                                <option value="0">-- Ngày</option>
                            </select>
                        </div>
                        <div class="col front-col-290">
                            <select class="form-control" name="ddl_month" id="ddl_month">
                                <option value="0">-- Tháng</option>
                            </select>
                        </div>
                        <div class="col front-col-290">
                            <select class="form-control" name="ddl_year" id="ddl_year">
                                <option value="0">-- Năm</option>
                            </select>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="notice">
                    Điền đầy đủ các thông tin này giúp bạn bè của bạn dễ dàng tìm thấy bạn trên Online Math, đồng thời giúp hệ thống có thể xếp hạng bạn vào trong bảng xếp hạng của trường bạn đang học. Việc này cũng giúp bạn được nhiều người biết đến hơn.
                </div>
                <div class="handle">
                    <button type="button" class="btn-submit" onclick="UpdateInfo()">Cập nhật</button>
                </div>
        </div>
    </div>
</div>
