<div class="col col-760">
    <h2 class="title">Đổi mật khẩu</h2>
    <div class="data">
        <div class="block-18">
            <form id="change-password" action="2.3c-tai-khoan-doi-mat-khau.html" method="post">
                <div class="control">
                    <div class="row">
                        <div class="col col-200">
                            <label for="password">Mật khẩu cũ:</label>
                        </div>
                        <div class="col col-270">
                            <input class="form-control" type="password" id="password" name="password"/>
                        </div>
                    </div>
                </div>
                <div class="control">
                    <div class="row">
                        <div class="col col-200">
                            <label for="new_password">Mật khẩu mới:</label>
                        </div>
                        <div class="col col-270">
                            <input class="form-control" type="password" id="new_password" name="new_password"/>
                        </div>
                    </div>
                </div>
                <div class="control">
                    <div class="row">
                        <div class="col col-200">
                            <label for="confirm_password">Nhập lại mật khẩu mới:</label>
                        </div>
                        <div class="col col-270">
                            <input class="form-control" type="password" id="confirm_password" name="confirm_password"/>
                        </div>
                    </div>
                </div>
                <div class="handle">
                    <button class="btn-submit" type="submit">Thay đổi</button>
                </div>
            </form>
        </div>
    </div>
</div>
