<div class="col col-760">
    <h2 class="title">Thông tin vip</h2>
    <div class="data">
        <div class="block-17">
            <div class="table">
                <div class="line">
                    <div class="cel">VIP đến:</div>
                    <div class="cel">Không (0 ngày)</div>
                </div>
                <div class="line">
                    <div class="cel">Số dư tiền nạp:</div>
                    <div class="cel">0</div>
                </div>
                <div class="line">
                    <div class="cel">Số dư tiền thưởng:</div>
                    <div class="cel">0</div>
                </div>
            </div>
            <a class="btn-buy" href="" title=""><i class="fa fa-plus"></i>Mua VIP</a>
        </div>
    </div>
</div>