﻿
@{
    var guid = Guid.NewGuid();
    var order = (int)ViewBag.QuestionOrder;
}
<tr id="tr-question-@guid" class="tr-question">
    <td style="text-align:center;vertical-align:middle;">
        <input type="hidden" id="quesion-index-@guid" name="questionDetail[@order].Order" class="question-order" value="@order" />
        <input type="hidden" class="question-id" name="questionDetail[@order].QuestionDetailId" value="@guid" />
        <textarea id="question-detail-content-@guid" name="questionDetail[@order].QuestionDetailContent" class="thihay-textarea"></textarea>
    </td>
    <td>
        <textarea id="answer-content-@guid" name="questionDetail[@order].Answers[0].AnswerContent" class="thihay-textarea"></textarea>
    </td>
</tr>