﻿@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var errorMessages = ViewBag.Error != null ? (IEnumerable<string>)ViewBag.Error : new List<string>();

}

<section class="box-violympic-07">
    <div class="container">
        <div id="Load" class="row">
            <script src="~/Public/js/Site.js"></script>
            <div class="col col-300">
                @await Component.InvokeAsync("UserInfo", "changepassword")
            </div>
            <div class="col col-760">
                <h2 class="title">Đổi mật khẩu</h2>
                <div class="data">
                    <div class="block-18">
                        <form id="change-password" asp-route="changepasswordpost" method="post">
                            @if (errorMessages.Count() > 0)
                            {
                                foreach (var message in errorMessages)
                                {
                                    <p> <i style="color: chocolate">@message</i></p>
                                }

                            }
                            <div class="control">
                                <div class="row">
                                    <div class="col col-200">
                                        <label for="password">Mật khẩu cũ:</label>
                                    </div>
                                    <div class="col col-270">
                                        <input class="form-control" type="password" id="password" name="CurrentPassword" />
                                    </div>
                                </div>
                            </div>
                            <div class="control">
                                <div class="row">
                                    <div class="col col-200">
                                        <label for="new_password">Mật khẩu mới:</label>
                                    </div>
                                    <div class="col col-270">
                                        <input class="form-control" type="password" id="new_password" name="NewPassword" />
                                    </div>
                                </div>
                            </div>
                            <div class="control">
                                <div class="row">
                                    <div class="col col-200">
                                        <label for="confirm_password">Nhập lại mật khẩu mới:</label>
                                    </div>
                                    <div class="col col-270">
                                        <input class="form-control" type="password" id="confirm_password" name="ConfirmPassword" />
                                    </div>
                                </div>
                            </div>
                            <div class="handle">
                                <button class="btn-submit" type="submit">Thay đổi</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>