﻿@model Thihay.Common.ThihayUser
@{
    ViewData["Title"] = "Thông tin người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="box-violympic-07">
    <div class="container">
        <div id="Load" class="row">
            @*<script src="/Public/js/Site.js"></script>*@
            <div class="col col-300">
                @await Component.InvokeAsync("UserInfo", "information")
            </div>
            <div class="col col-760">
                <h2 class="title">Thông tin tài khoản</h2>
                <div class="data">
                    <div class="block-10">
                        <div class="item">
                            <div class="label">Tên đăng nhập</div>
                            <div class="control"><span>@Model.UserName</span></div>
                        </div>
                        <div class="item">
                            <div class="label">Email</div>
                            <div class="control"><span>@Model.Email</span></div>
                        </div>

                        <div class="item">
                            <div class="label">Ngày đăng ký</div>
                            <div class="control"><span>@Model.CreatedDate.ToString("dd/MM/yyyy")</span></div>
                        </div>
                        @*<div class="item">
                            <div class="label">Bạn đang ở</div>
                            <div class="row">
                                <div class="col col-290">
                                    <select class="form-control" name="city" onchange="Load_District($(this).val())">
                                        <option value="0">-- Tỉnh/thành phố--</option>
                                    </select>
                                </div>
                                <div class="col col-290">
                                    <select class="form-control" name="district" onchange="Load_School($(this).val())">
                                        <option value="">-- Quận/huyện--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="label">Bạn đang học tại trường:</div>
                            <div class="control">
                                <select class="form-control" name="school">
                                    <option value="">-- Chọn trường--</option>
                                </select>
                            </div>
                        </div>
                        <div class="item">
                            <div class="label">Ngày sinh:</div>
                            <div class="control">
                                <div class="row">
                                    <div class="col front-col-290">
                                        <select class="form-control" name="ddl_day" id="ddl_day">
                                            <option value="0">-- Ngày --</option>
                                        </select>
                                    </div>
                                    <div class="col front-col-290">
                                        <select class="form-control" name="ddl_month" id="ddl_month">
                                            <option value="0">-- Tháng --</option>
                                        </select>
                                    </div>
                                    <div class="col front-col-290">
                                        <select class="form-control" name="ddl_year" id="ddl_year">
                                            <option value="0">-- Năm --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="notice">
                            Điền đầy đủ các thông tin này giúp bạn bè của bạn dễ dàng tìm thấy bạn trên Thihay, đồng thời giúp hệ thống có thể xếp
                            hạng bạn vào trong bảng xếp hạng của trường bạn đang học. Việc này cũng giúp
                            bạn được nhiều người biết đến hơn.
                        </div>
                        <div class="handle">
                            <button type="button" class="btn-submit" onclick="UpdateInfo()">Cập nhật</button>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>