﻿@{
    ViewData["Title"] = "Đăng Nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var errorMessages = ViewBag.Error != null ? (string)ViewBag.Error : string.Empty;
}

<section class="box-violympic-06">
    <div class="container">
        <h2 class="title">Đăng Nhập</h2>
        <div class="row">
            <div class="col col-450">
                <div class="block-08">
                    <form asp-route="loginpost" method="post">
                        @if (!string.IsNullOrWhiteSpace(errorMessages))
                        {
                            <p> <i style="color: chocolate">@errorMessages</i></p>
                        }
                        <div class="control">
                            <input type="text" placeholder="Tài khoản" class="form-control" name="Username" />
                        </div>
                        <div class="control">
                            <input type="password" placeholder="Mật khẩu" class="form-control" name="Password" />
                        </div>


                        <div class="row">
                            <div class="col col-140">
                                <button type="submit" id="btn-login" class="btn-login">Đăng nhập</button>
                            </div>
                            <div class="col col-140">
                                <div class="handle">
                                    <a asp-route="register" title="">Đăng ký</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>