﻿@model Thihay.API.Client.Models.UserProfile
@{
    ViewData["Title"] = "Học Bạ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var subjects = ViewBag.Subjects as IEnumerable<Thihay.API.Client.Models.Subject>;
}

<section class="box-violympic-07">
    <div class="container">
        <div id="Load" class="row">
            <script src="/Public/js/Site.js"></script>
            <div class="col col-300">
                @await Component.InvokeAsync("UserInfo", "profile")
            </div>
            <div class="col col-760">
                <h2 class="title">Học bạ</h2>
                <div class="data">
                    <div class="block-11">
                        <ul class="nav-tab">
                            @if (ViewBag.Subjects != null)
                            {

                                foreach (var item in subjects)
                                {
                                    <li>
                                        <a asp-route="profile" asp-route-subjectId="@item.Id" class="@(item.Id == Model.SubjectId?"active":"")" title="">@item.SubjectName</a>
                                    </li>

                                }
                            }                           
                        </ul>
                        <div class="stats">
                            <div class="row">
                                <div class="col col-220">
                                    <div class="score">
                                        <div class="inner">
                                            <div class="group">
                                                <div class="cel">
                                                    <div class="text">ĐIỂM TRUNG BÌNH</div>
                                                    <div class="number">@Model.AvgPoint</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-540">
                                    <div class="table">
                                        <div class="line">
                                            <div class="cel">Tổng điểm:</div>
                                            <div class="cel">@Model.TotalPoint</div>
                                        </div>
                                        <div class="line">
                                            <div class="cel">Số câu hỏi đã làm:</div>
                                            <div class="cel">@Model.QuestionCount</div>
                                        </div>
                                        <div class="line">
                                            <div class="cel">Số câu hỏi làm đúng:</div>
                                            <div class="cel">@Model.QuestionsPassed</div>
                                        </div>
                                        <div class="line">
                                            <div class="cel">Tỷ lệ trả lời đúng:</div>
                                            <div class="cel">@Model.AnswerRate%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="gradebook">
                            <div class="head">Bảng điểm</div>
                            <div class="responsive">
                                <div class="table" id="front-gradebook">
                                    <div class="line">
                                        <div class="cel">Nội dung</div>
                                        <div class="cel">Điểm số</div>
                                        <div class="cel">Đúng</div>
                                        <div class="cel">Sai</div>
                                        <div class="cel">Tổng</div>
                                        <div class="cel">Lớp</div>
                                        <div class="cel">Tổng thời gian làm bài</div>
                                    </div>
                                    @foreach (var mark in Model.Marks)
                                    {
                                        <div class="line">
                                            <div class="cel"><a asp-route="practice" asp-route-id="@mark.UnitId" title="">@Html.Raw(mark.UnitName)</a></div>
                                            <div class="cel">@mark.Point</div>
                                            <div class="cel">@mark.QuestionsPassed</div>
                                            <div class="cel">@mark.InCorrectQuestion</div>
                                            <div class="cel">@mark.TotalAnswerd</div>
                                            <div class="cel">@mark.ClassName</div>
                                            <div class="cel">@Math.Round(TimeSpan.FromSeconds(mark.PracticeTime).TotalMinutes, 2, MidpointRounding.AwayFromZero) phút</div>
                                        </div>
                                    }
                                   
                                </div>
                            </div>
                            @*<div class="paging">
                                    <ul>
                                        <li>
                                            <a onclick="prevpage()"><i class="fa fa-angle-left"></i></a>
                                        </li>
                                        <%=Page %>
                                        <li>
                                            <a onclick="nextpage()"><i class="fa fa-angle-right"></i></a>
                                        </li>
                                    </ul>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>