﻿@model Thihay.API.Client.Models.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var errorMessages = ViewBag.Error != null ? (IEnumerable<string>)ViewBag.Error : new List<string>();

}

<section class="box-violympic-06">
    <div class="container">
        <h2 class="title">Đăng ký</h2>
        <div class="row">
            <div class="col col-450">
                <div class="block-08">
                    <form asp-route="registerpost" method="post">
                        <p>
                            <i style="color: cornflowerblue">Nếu bạn đã có tài khoản thi trên NewSchool, có thể dùng tài khoản này để đăng nhập.</i>
                        </p>
                        <h3 class="head">Đăng ký tài khoản mới</h3>
                        @if (errorMessages.Count() > 0)
                        {
                            foreach (var message in errorMessages)
                            {
                                <p> <i style="color: chocolate">@message</i></p>
                            }

                        }
                        <div class="control">
                            <input type="text" placeholder="Họ, tên đệm" class="form-control" name="FirstName" value="@Model.FirstName" />
                        </div>
                        <div class="control">
                            <input type="text" placeholder="Tên" class="form-control" name="LastName" value="@Model.LastName" />
                        </div>
                        <div class="control">
                            <input type="text" placeholder="Tài khoản" class="form-control" name="UserName" value="@Model.UserName" />
                        </div>
                        <div class="control">
                            <input type="password" placeholder="Mật khẩu" class="form-control" name="Password" />
                        </div>
                        <div class="control">
                            <input type="password" placeholder="Nhập lại mật khẩu" class="form-control" name="ConfirmPassword" />
                        </div>
                        <div class="control">
                            <input type="email" placeholder="Email" class="form-control" name="Email" value="@Model.Email" />
                        </div>
                        <div class="control">
                            <input type="number" placeholder="Điện thoại" class="form-control" name="Phone" value="@Model.Phone" />
                        </div>
                        <div class="control">
                            <input type="number" placeholder="Trình độ Học vấn" class="form-control" name="ClassGrade" value="@Model.ClassGrade" />
                        </div>
                        <div id="dvCaptcha" class="control">
                            <!-- <img src="ViOlympicCaptcha.aspx?newimage=0.2924656882782888" class="imgcaptcha" alt="" />
                            <a onclick="RefreshCaptcha()" class="btn-refresh">
                              <i class="fa fa-refresh"></i>
                            </a> -->
                        </div>
                        <div class="row">
                            <div class="col col-140">
                                <button type="submit" id="btn-register" class="btn-login">Đăng ký</button>
                            </div>
                            <div class="col col-140">
                                <div class="handle">
                                    <a asp-route="login" title="">Đăng nhập?</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            @*<div class="col col-630" id="boxLoginG">
                    <div class="block-08">
                        <h3 class="head">Đăng nhập bằng tài khoản</h3>
                        <div class="login">
                            <a class="facebook" href="" title=""><span>Đăng ký bằng Facebook</span></a>
                        </div>
                        <div class="login">
                            <a class="google" href="" title=""><span>Đăng ký bằng Gmail</span></a>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</section>