﻿@{
    ViewData["Title"] = "Vip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="box-violympic-07">
    <div class="container">
        <div id="Load" class="row">
            <script src="/Public/js/Site.js"></script>
            <div class="col col-300">
                @await Component.InvokeAsync("UserInfo", "vipinfo")
            </div>
            <div class="col col-760">
                <h2 class="title">Thông tin vip</h2>
                <div class="data">
                    <div class="block-17">
                        <div class="table">
                            <div class="line">
                                <div class="cel">VIP đến:</div>
                                <div class="cel">Không (0 ngày)</div>
                            </div>
                            <div class="line">
                                <div class="cel">Số dư tiền nạp:</div>
                                <div class="cel">0</div>
                            </div>
                            <div class="line">
                                <div class="cel">Số dư tiền thưởng:</div>
                                <div class="cel">0</div>
                            </div>
                        </div>
                        <a class="btn-buy" href="" title=""><i class="fa fa-plus"></i>Mua VIP</a>
                    </div>
                </div>
            </div>
        </div>
        <input name="hdCity" type="hidden" value="Userinfo.fk_province_id" />
        <input name="hdBith" type="hidden" value="Userinfo.d_bith.ToString() %>" />
    </div>
</section>