﻿@model List<Thihay.API.Client.Models.QuestionDetail>
@{
    var questionType = ViewBag.Type != null ? (Thihay.API.Client.QuestionType)ViewBag.Type : Thihay.API.Client.QuestionType.MultipleChoice;

    bool isDisplayQuestionDetail = false;
    switch (questionType)
    {
        case Thihay.API.Client.QuestionType.RewriteTheSentences:
        case Thihay.API.Client.QuestionType.FillInTheBlank:
        case Thihay.API.Client.QuestionType.ClozeTest:
            isDisplayQuestionDetail = false;
            break;
        default:
            isDisplayQuestionDetail = true;
            break;
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                Câu Hỏi
            </th>
            <th>
                Đáp Án
            </th>
        </tr>
    </thead>
    <tbody class="question-body">
        @for (int q = 0; q < Model.Count(); q++)
        {
            var item = Model[q];
            <tr id="tr-question-@item.QuestionDetailId" class="tr-question">
                <td>
                    <input type="hidden" value="@item.QuestionDetailId" name="questionDetail[@q].QuestionDetailId" class="question-id" />
                    @if (!isDisplayQuestionDetail)
                    {
                        @(q + 1)
                    }
                    else
                    {
                        <textarea id="question-detail-content-@item.QuestionDetailId" class="thihay-textarea" name="questionDetail[@q].QuestionDetailContent">@Html.Raw(item.QuestionDetailContent)</textarea>
                    }
                </td>
                <td>
                    <textarea id="answer-content-@item.QuestionDetailId" class="thihay-textarea" name="questionDetail[@q].Answers[0].AnswerContent">@Html.Raw(item.Answers[0].AnswerContent)</textarea>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2" style="text-align:center">
                <a class="answer-buttion" onclick="addKeyPairAnswer('@isDisplayQuestionDetail')">+</a>
                <a class="answer-buttion" onclick="removeRow(this)">-</a>
            </td>
        </tr>
    </tfoot>
</table>