﻿@model List<Thihay.API.Client.Models.QuestionDetail>
@{
    var questionType = ViewBag.Type != null ? (Thihay.API.Client.QuestionType)ViewBag.Type : Thihay.API.Client.QuestionType.MultipleChoice;

    var alphabet = new string[] { "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z" };
    bool isDisplayAlphabet = false;
    switch (questionType)
    {
        case Thihay.API.Client.QuestionType.MultipleChoice:
        case Thihay.API.Client.QuestionType.ReadingComprehension:
        case Thihay.API.Client.QuestionType.ClozeTest:
            isDisplayAlphabet = true;
            break;
        default:
            isDisplayAlphabet = false;
            break;
    }

    bool isDisplayQuestionDetail = false;
    switch (questionType)
    {
        case Thihay.API.Client.QuestionType.RewriteTheSentences:
        case Thihay.API.Client.QuestionType.FillInTheBlank:
        case Thihay.API.Client.QuestionType.ClozeTest:
            isDisplayQuestionDetail = false;
            break;
        default:
            isDisplayQuestionDetail = true;
            break;
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                Câu Hỏi
            </th>
            <th>
                Đáp Án
            </th>
        </tr>
    </thead>
    <tbody class="question-body">
        @for (int q = 0; q < Model.Count(); q++)
        {
            var item = Model[q];
            <tr id="tr-question-@item.QuestionDetailId" class="tr-question">
                <td style="text-align:center;vertical-align:middle">
                    <input type="hidden" id="quesion-index-@item.QuestionDetailId" value="@q" />
                    <input type="hidden" class="question-id" name="questionDetail[@q].QuestionDetailId" value="@item.QuestionDetailId" />
                    @if (!isDisplayQuestionDetail)
                    {
                        @(q + 1)
                    }
                    else
                    {
                        <textarea id="question-detail-content-@item.QuestionDetailId" name="questionDetail[@q].QuestionDetailContent" class="thihay-textarea">@Html.Raw(item.QuestionDetailContent)</textarea>
                    }
                </td>
                <td>
                    <table style="width:100%">
                        <tbody class="answer-detail">
                            @for (int i = 0; i < item.Answers.Count; i++)
                            {
                                var answer = item.Answers[i];
                                <tr>
                                    <td class="answer-text">
                                        @if (isDisplayAlphabet)
                                        {

                                            <input name="questionDetail[@q].Answers[@i].IsCorrectAnswer" class="isCorrectAnswers" type="hidden" value="@(answer.IsCorrectAnswer ? "true" : "false")">
                                            <input type="checkbox" class="answer-checked" checked="@answer.IsCorrectAnswer">                                            @alphabet[i]
                                        }
                                        else
                                        {
                                            @(i + 1)
                                            break;
                                        }
                                        <input type="hidden" value="@i" class="answer-index" />
                                    </td>
                                    <td style="width: 80%">
                                        <textarea id="question-@item.QuestionDetailId-answer-@i" class="thihay-textarea" name="questionDetail[@q].Answers[@i].AnswerContent">@Html.Raw(answer.AnswerContent)</textarea>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2" style="text-align:center">
                                    <a class="answer-buttion" onclick="addSelectAnswers(this, '@item.QuestionDetailId', '@isDisplayAlphabet')">+</a>
                                    <a class="answer-buttion" onclick="removeRow(this)">-</a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2" style="text-align:center">
                <a class="answer-buttion" onclick="addSelectQuestion('@isDisplayAlphabet', '@isDisplayQuestionDetail')">+</a>
                <a class="answer-buttion" onclick="removeRow(this)">-</a>
            </td>
        </tr>
    </tfoot>
</table>