﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Thihay.Admin</title>

    @*<environment names="Development">*@
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    @*</environment>*@
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
        messageStyle: 'none',
        tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
        });
    </script>
    <script type="text/javascript" src="~/lib/MathJax-2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script src="~/js/jquery-3.2.1.js"></script>
    <script src="~/lib/mathquill-0.10.1/mathquill.js"></script>
    <script>
        var MQ = MathQuill.getInterface(2);
    </script>
    @Html.Raw(JavaScriptSnippet.FullScript)
   @* <environment names="Development">*@
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/ckeditor/ckeditor.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @await Component.InvokeAsync("UserInfomation")               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Class" asp-action="Index">Lớp học</a></li>
                    <li><a asp-area="" asp-controller="Subject" asp-action="Index">Môn học</a></li>
                    <li><a asp-area="" asp-controller="Topic" asp-action="Index">Chuyên Đề</a></li>
                    <li><a asp-area="" asp-controller="Unit" asp-action="Index">Kỹ Năng</a></li>
                    <li><a asp-area="" asp-controller="Question" asp-action="Index">Câu Hỏi</a></li>
                    @await Component.InvokeAsync("LogoutMenu")
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - Thihay.Admin</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>