﻿@model IList<Thihay.API.Client.Models.QuestionDetail>

@{
    var questions = Model == null ? null : Model.OrderBy(q => q.Order).ToArray();
    //var isMath = ViewBag.IsMath != null ? (bool)ViewBag.IsMath : false;
}


<table class="table">
    <thead>
        <tr>
            <th>Thứ Tự</th>
            <th>Đáp Án</th>
        </tr>
    </thead>
    <tbody class="question-body">
        @if (questions != null)
        {
            for (int q = 0; q < questions.Count(); q++)
            {
                var item = questions[q];

                <tr id="tr-question-@item.QuestionDetailId" class="tr-question">
                    <td style="text-align:center;vertical-align:middle;width:5%">
                        <input type="hidden" id="quesion-index-@item.QuestionDetailId" name="questionDetail[@q].Order" class="question-order" value="@q" />
                        <input type="hidden" class="question-id" name="questionDetail[@q].QuestionDetailId" value="@item.QuestionDetailId" />
                        <input type="hidden" class="question-detail-content" name="questionDetail[@q].Answers[0].AnswerIndex" value="@q" />
                        @(q + 1)

                    </td>
                    <td>
                        <textarea id="answer-content-@item.QuestionDetailId" name="questionDetail[@q].QuestionDetailContent" class="thihay-textarea">@Html.Raw(item.QuestionDetailContent)</textarea>
                    </td>
                </tr>
            }
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="2" style="text-align:center">
                <a class="answer-buttion" onclick="addArrangeQuestion()">+</a>
                <a class="answer-buttion" onclick="removeRow(this)">-</a>
            </td>
        </tr>
    </tfoot>
</table>