﻿@model IList<Thihay.API.Client.Models.QuestionDetail>
@{
    var alphabet = new string[] { "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z" };
    var questionType = (Thihay.API.Client.QuestionType)ViewBag.QuestionType;
    var questions = Model.OrderBy(q => q.Order).ToArray();
}


<table class="table">
    <thead>
        <tr>
            <th>Nhóm</th>
            <th>Items</th>
        </tr>
    </thead>
    <tbody class="question-body">
        @if (Model != null && Model.Count() > 0)
        {
            for (int q = 0; q < questions.Count(); q++)
            {
                var item = Model[q];
                <tr id="tr-question-@item.QuestionDetailId" class="tr-question">
                    <td style="text-align:center;vertical-align:middle">
                        <input type="hidden" id="quesion-index-@item.QuestionDetailId" name="questionDetail[@q].Order" class="question-order" value="@q" />
                        <input type="hidden" class="question-id" name="questionDetail[@q].QuestionDetailId" value="@item.QuestionDetailId" />

                        <textarea id="question-detail-content-@item.QuestionDetailId" name="questionDetail[@q].QuestionDetailContent" class="thihay-textarea">@Html.Raw(item.QuestionDetailContent)</textarea>
                    </td>
                    <td>
                        <table style="width:100%">
                            <tbody class="answer-detail">
                                @for (int i = 0; i < item.Answers.Count; i++)
                                {
                                    var answer = item.Answers[i];
                                    @await Component.InvokeAsync("GroupAnswer", new { questionOrder = q, index = i, isCorrectAnswer = answer.IsCorrectAnswer, answerContent = answer.AnswerContent })
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2" style="text-align:center">
                                        <a class="answer-buttion" onclick="addGroupItem(this, @q)">+</a>
                                        <a class="answer-buttion" onclick="removeRow(this)">-</a>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </td>
                </tr>
            }
        }
        else
        {
            @await Component.InvokeAsync("GroupQuestion", new { questionOrder = 0 })
        }
    </tbody>
   
        <tfoot>
            <tr>
                <td colspan="2" style="text-align:center">
                    <a class="answer-buttion" onclick="addGroupQuestion()">+</a>
                    <a class="answer-buttion" onclick="removeRow(this)">-</a>
                </td>
            </tr>
        </tfoot>
    

</table>