﻿@model IList<Thihay.API.Client.Models.QuestionDetail>
@{
    var questionType = (Thihay.API.Client.QuestionType)ViewBag.QuestionType;
    var questions = Model.OrderBy(q => q.Order).ToArray();
}


<table class="table">
    <thead>
        <tr>
            <th>Câu Hỏi</th>
            <th>Đáp Án</th>
        </tr>
    </thead>
    <tbody class="question-body">
        @if (Model != null && Model.Count() > 0)
        {
            for (int q = 0; q < questions.Count(); q++)
            {
                var item = Model[q];
                var correctAnswerIndex = item.Answers.Where(a => a.IsCorrectAnswer).Select(a => a.AnswerIndex).ToList();
                @await Component.InvokeAsync("UnderlineQuestion", new { questionContent = item.QuestionDetailContent, questionOrder = item.Order, questionDetailId = item.QuestionDetailId, correctAnswerIndexs = correctAnswerIndex })
                @*<tr id="tr-question-@item.QuestionDetailId" class="tr-question">
                    <td style="text-align:center;vertical-align:middle">
                        <input type="hidden" id="quesion-index-@item.QuestionDetailId" name="questionDetail[@q].Order" class="question-order" value="@q" />
                        <input type="hidden" class="question-id" name="questionDetail[@q].QuestionDetailId" value="@item.QuestionDetailId" />

                        <input type="hidden" id="question-detail-content-@item.QuestionDetailId" name="questionDetail[@q].QuestionDetailContent" value="@item.QuestionDetailContent" />
                        @(q + 1)
                    </td>
                    <td>
                        <table style="width:100%">
                            <tbody class="answer-detail">
                                @for (int i = 0; i < item.Answers.Count; i++)
                                {
                                    var answer = item.Answers[i];
                                    <tr>
                                        <td style="width: 80%">
                                            <input type="hidden" id="@answer.AnswerId" name="questionDetail[@q].Answers[@answer.AnswerIndex].AnswerContent" value="@answer.AnswerContent" />
                                            <span>@Html.Raw(answer.AnswerContent)</span>
                                        </td>
                                        <td class="answer-text">
                                            <input name="questionDetail[@q].Answers[@answer.AnswerIndex].IsCorrectAnswer" class="isCorrectAnswers" type="hidden" value="@(answer.IsCorrectAnswer ? "true" : "false")">
                                            <input type="checkbox" class="answer-checked" checked="@answer.IsCorrectAnswer">
                                            @answer.AnswerIndex
                                            <input type="hidden" value="@answer.AnswerIndex" class="answer-index" name="questionDetail[@q].Answers[@answer.AnswerIndex].AnswerIndex" />
                                        </td>
                                    </tr>
                                }
                            </tbody>                            
                        </table>
                    </td>
                </tr>*@
            }
        }
    </tbody>
        <tfoot>
            <tr>
                <td colspan="2" style="text-align:center">
                    <a class="answer-buttion" onclick="fetchUnderlineQuestion()">+</a>
                </td>
            </tr>
        </tfoot>
</table>