@model Thihay.API.Client.Models.Topic

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var classId = Model != null ? Model.ClassId : null;
    var subjectId = Model != null ? Model.SubjectId : null;
}

<h2>Cập Nhật Chuyên Đề</h2>

<form asp-action="Update" method="post">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="SubjectId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @await Component.InvokeAsync("SubjectDropdown", Model.SubjectId)
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ClassId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @await Component.InvokeAsync("ClassDropdown", Model.ClassId)
                <span asp-validation-for="ClassId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Tên Chuyên Đề</label>
            <div class="col-md-10">
                <input asp-for="TopicName" class="form-control" />
                <span asp-validation-for="TopicName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Mô tả chi tiết</label>
            <div class="col-md-10">
                <textarea asp-for="DescriptionTopic" class="thihay-textarea"></textarea>
                <span asp-validation-for="DescriptionTopic" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input asp-for="Id" class="form-control" type="hidden" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-default">Quay về danh sách</a>
</div>