﻿@model IEnumerable<Thihay.API.Client.Models.Topic>

@{
    ViewData["Title"] = "Chuyên Đề";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int page = 1;
    if (ViewBag.Page != null)
    {
        page = (int)ViewBag.Page;
    }
    int totalPage = 1;
    if (ViewBag.TotalPage != null)
    {
        totalPage = (int)ViewBag.TotalPage;
    }

    int firstPaging = page - 2;
    int lastPaging = page + 2;
    firstPaging = firstPaging <= 0 ? 1 : firstPaging;
    lastPaging = lastPaging - firstPaging < 5 ? firstPaging + 4 : lastPaging;
    lastPaging = lastPaging >= totalPage ? totalPage : lastPaging;
}

<h2>Quản Lý Chuyên Đề</h2>

<p>
    <a asp-action="detail" class="btn btn-default">Tạo Mới Chuyên Đề</a>
</p>
<form asp-action="Index" method="get" id="topic-list-form">
    <div class="form-group">
        <label class="col-md-2 control-label">Search Key</label>
        <div class="col-md-4">
            <input type="text" name="searchKey" value="@ViewBag.Search" class="form-control" />
        </div>
        <div class="col-md-2">
            @await Component.InvokeAsync("ClassDropdown")
        </div>
        <div class="col-md-2">
            @await Component.InvokeAsync("SubjectDropdown")
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Search" class="btn btn-default search" />
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Môn Học</th>
                <th>Lớp Học</th>
                <th>Chuyên Đề</th>
                <th>Mô Tả</th>
                <th>Trạng Thái</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.Raw(item.SubjectName)
                        </td>
                        <td>
                            @Html.Raw(item.ClassName)
                        </td>
                        <td>
                            @Html.Raw(item.TopicName)
                        </td>
                        <td>
                            @Html.Raw(item.DescriptionTopic)
                        </td>
                        <td>
                            @if (item.IsDeleted == false)
                            {
                                @:Active
                        }
                            else
                            {
                                @:Inactive
                            }
                        </td>
                        <td>
                            @if (item.IsDeleted == false)
                            {
                                <input type="button" class="btn btn-default change-topic-status" value="Inactive" onclick="changeTopicStaus(@item.Id,'@item.IsDeleted')" />
                                @Html.ActionLink("Sửa", "detail", "topic", new { topicId = item.Id }, new { @class = "btn btn-default" })
                            }
                            else
                            {
                                <input type="button" class="btn btn-default change-topic-status" value="Active" onclick="changeTopicStaus(@item.Id, '@item.IsDeleted')" />
                            }
                        </td>
                    </tr>}}
        </tbody>
    </table>
    @if (totalPage > 1)
    {
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @if (firstPaging > 1)
                {
                    <li>
                        <a href="#" aria-label="Previous" onclick="moveToPreviousPage(@page, 'topic-list-form')">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }
                @for (int i = firstPaging; i <= lastPaging; i++)
                {
                    var cssClass = "";
                    if (i == page)
                    {
                        cssClass = "active";
                    }
                    <li class="@cssClass"><a href="#" onclick="moveToPage(@i, 'topic-list-form')">@i</a></li>
                }
                @if (lastPaging < totalPage)
                {
                    <li>
                        <a href="#" aria-label="Next" onclick="moveToNextPage(@page, 'topic-list-form')">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    }
    <input type="hidden" name="page" value="@page" class="page-to-move" />
</form>
<form asp-action="ChangeStatus" method="post" id="change-topic-status-form">
    <input type="hidden" id="topic-id-status" name="topicId" />
    <input type="hidden" id="topic-status" name="isDelete" />
</form>