﻿@model Thihay.API.Client.Models.Answer

@{
    var guid = Guid.NewGuid();
}
<tr>
    <td class="answer-text">
        @(Model.AnswerIndex + 1)
        <input type="hidden" value="@Model.AnswerIndex" class="answer-index" />
    </td>
    <td style="width: 80%">
        <textarea id="@guid" class="thihay-textarea" name="questionDetail[@Model.QuestionOrder].Answers[@Model.AnswerIndex].AnswerContent">@Html.Raw(Model.AnswerContent)</textarea>
    </td>
</tr>