﻿<form asp-action="ChangePassword" method="post">
    <div class="row">
        <br />
        <div class="form-group">
            <label class="col-md-2 control-label">Mật Khẩu Hiện Tại</label>
            <div class="col-md-10">
                <input name="CurrentPassword" class="form-control" type="password" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Mật Khẩu Mới</label>
            <div class="col-md-10">
                <input name="NewPassword" class="form-control" type="password" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Xác Nhận Mật Khẩu Mới</label>
            <div class="col-md-10">
                <input name="ConfirmPassword" class="form-control" type="password" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>