﻿<form asp-action="Login" method="post">
    <div class="row">
        <br />
        <div class="form-group">
            <label class="col-md-2 control-label">Tên Đăng Nhập</label>
            <div class="col-md-10">
                <input name="UserName" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Mật Khẩu</label>
            <div class="col-md-10">
                <input name="Password" class="form-control" type="password" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đăng Nhập" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>