﻿@model IEnumerable<Thihay.Common.Folder>
@{
    //bool isOpen = true;
    int tabindex = (int)ViewBag.TabIndex;
    bool isRootFolder = (bool)ViewBag.IsRootFolder;
}

@foreach (var folder in Model)
{
    var selected = "";
    var closable = "";
    if (isRootFolder)
    {
        isRootFolder = false;
        selected = "selected";
        closable = "closable";
    }
    else if (folder.IsHasSubFolder)
    {
        closable = "openable";
    }
    else
    {
        closable = "openable nochildren";

    }
    <li role="presentation" class="@closable @selected">
        <span role="presentation" class="expander" aria-expanded="true"></span>
        <a tabindex="@tabindex" role="treeitem" class="folder-name" href="#" data-folder-full-path="@folder.FullUrl" aria-level="2">@folder.FolderName</a>
        <ul>
            @if (folder.IsHasSubFolder)
            {
                @await Component.InvokeAsync("FolderMenu", new { folderList = folder.SubFolders, tabindex = tabindex - 1, isRootFolder = isRootFolder })

            }
        </ul>
    </li>
}