﻿@model IEnumerable<Thihay.API.Client.Models.Class>

    @{
    ViewData["Title"] = "Lớp Học";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Quản Lý Lớp Học</h2>
    <form asp-action="Index" method="get">
        <div class="form-group">
            <label class="col-md-2 control-label">Search</label>
            <div class="col-md-4">
                <input type="text" name="searchKey" class="form-control" />
            </div>
            <div class="col-md-4">
                <input type="button" value="Search" class="btn btn-default search" />
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Tên Lớp</th>
                    <th>Trạng Thái</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.HiddenFor(modelItem =>item.Id)
                            @Html.DisplayFor(modelItem => item.ClassName, new { @class = "form-control" })
                        </td>
                        <td>
                            @if(item.IsDeleted == false){
                                @:Active
                                                                                                                                                                                                                                                                }else{
                                @:Inactive
                            }
                        </td>
                        <td>

                            @if(item.IsDeleted == false){
                                <input type="button" class="btn btn-default change-class-status" value="Inactive" onclick="changeClassStaus(@item.Id,'@item.IsDeleted')" />
                                <input type="button" class="btn btn-default edit-class-status" value="Sửa" onclick="editClass(@item.Id, '@item.ClassName')" />
                            }else{
                                <input type="button" class="btn btn-default change-class-status" value="Active" onclick="changeClassStaus(@item.Id, '@item.IsDeleted')" />
                            }
                        </td>
                    </tr>
                    }
            </tbody>
        </table>
    </form>
    <form asp-action="Update" method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>Cập Nhật Lớp Học</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="hidden" id="class-id" name="Id" />
                        <input type="text" id="new-class-name" name="ClassName" class="form-control" />
                    </td>
                    <td>
                        <input type="submit" class="btn btn-default add-new-class" value="Lưu" />
                        <input type="button" class="btn btn-default discard-class-update" value="Hủy" />
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <form asp-action="ChangeStatus" method="post" id="change-class-status-form">
        <input type="hidden" id="class-id-status" name="classId" />
        <input type="hidden" id="class-status" name="isDelete" />
    </form>