﻿@model IList<Thihay.API.Client.Models.QuestionDetail>

@{ 
    var questionType = (Thihay.API.Client.QuestionType)ViewBag.QuestionType;
}


@if (Model != null)
{
    <table class="sub-table" style="width: 100%;">
        @for (int i = 0; i < Model.Count; i++)
        {
            var question = Model[i];
            <tr>
                <td style="width: 60%;">
                    @switch (questionType)
                    {
                        case Thihay.API.Client.QuestionType.RewriteTheSentences:
                        case Thihay.API.Client.QuestionType.FillInTheBlank:
                        case Thihay.API.Client.QuestionType.ClozeTest:
                            @(i + 1)
                            break;
                        default:
                            @Html.Raw(question.QuestionDetailContent)
                            break;
                    }
                </td>
                <td style="width:5%"></td>
                <td>
                    @if (question.Answers != null)
                    {
                        var answerCnt = question.Answers.Count();
                        if (answerCnt > 1)
                        {
                            <table class="sub-table" style="width: 100%;">
                                @foreach (var answer in question.Answers)
                                {
                                    <tr>
                                        <td style="width: 90%;">@Html.Raw(answer.AnswerContent)</td>
                                        <td>
                                            @if (answerCnt > 1 && answer.IsCorrectAnswer)
                                            {
                                                @:X
                                                                }
                                        </td>
                                    </tr>
                                }
                            </table>
                        }
                        else if (answerCnt == 1)
                        {
                            @Html.Raw(question.Answers[0].AnswerContent)
                        }
                    }
                </td>
            </tr>
        }
    </table>
}