﻿@model Thihay.API.Client.Models.QuestionDetail

<tr id="tr-question-@Model.QuestionDetailId" class="tr-question">
    <td style="text-align:center;vertical-align:middle">
        <input type="hidden" id="quesion-index-@Model.QuestionDetailId" name="questionDetail[@Model.Order].Order" class="question-order" value="@Model.Order" />
        <input type="hidden" class="question-id" name="questionDetail[@Model.Order].QuestionDetailId" value="@Model.QuestionDetailId" />

        <input type="hidden" id="question-detail-content-@Model.QuestionDetailId" name="questionDetail[@Model.Order].QuestionDetailContent" value="@Model.QuestionDetailContent" />
        @Model.QuestionDetailContent
    </td>
    <td>
        <table style="width:100%">
            <tbody class="answer-detail">
                @for (int i = 0; i < Model.Answers.Count; i++)
                {
                    var answer = Model.Answers[i];
                    <tr>
                        <td style="width: 80%">
                            <input type="hidden" id="@answer.AnswerId" name="questionDetail[@Model.Order].Answers[@answer.AnswerIndex].AnswerContent" value="@answer.AnswerContent" />
                            <span>@Html.Raw(answer.AnswerContent)</span>
                        </td>
                        <td class="answer-text">
                            <input name="questionDetail[@Model.Order].Answers[@answer.AnswerIndex].IsCorrectAnswer" class="isCorrectAnswers" type="hidden" value="@(answer.IsCorrectAnswer ? "true" : "false")">
                            <input type="checkbox" class="answer-checked" checked="@answer.IsCorrectAnswer">
                            <input type="hidden" value="@answer.AnswerIndex" class="answer-index" name="questionDetail[@Model.Order].Answers[@answer.AnswerIndex].AnswerIndex" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </td>
</tr>