﻿@{ 
    var guid = Guid.NewGuid();
    var order = (int)ViewBag.QuestionOrder;
}

<tr id="tr-question-@guid" class="tr-question">
    <td style="text-align:center;vertical-align:middle">
        <input type="hidden" id="quesion-index-@guid" name="questionDetail[@order].Order" value="@order" />
        <input type="hidden" class="question-id" name="questionDetail[@order].QuestionDetailId" value="@guid"/>

        <textarea id="question-detail-content-@guid" name="questionDetail[@order].QuestionDetailContent" class="thihay-textarea"></textarea>
    </td>
    <td>
        <table style="width:100%">
            <tbody class="answer-detail">
                @for (int i = 0; i < 4; i++)
                {
                    @await Component.InvokeAsync("GroupAnswer", new { questionOrder = order, index = i })
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" style="text-align:center">
                        <a class="answer-buttion" onclick="addGroupItem(this, @order)">+</a>
                        <a class="answer-buttion" onclick="removeRow(this)">-</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </td>
</tr>