<section class="box-violympic-03">
    <div class="container">
        <div class="title">
            <h2>Ưu đãi thành viên Violympic</h2>
            <p>Explore the benefits of becoming an IXL member!</p>
        </div>
        <div class="row">
            <div class="col col-360">
                <article class="block-05">
                    <div class="inner">
                        <i class="fa fa-users"></i>
                        <h3>Giải thưởng</h3>
                        <p>Embark on a virtual treasure hunt as you tackle math challenges and reveal colorful prizes. The more you practice, the more you win! </p>
                    </div>
                </article>
            </div>
            <div class="col col-360">
                <article class="block-05">
                    <div class="inner">
                        <i class="fa fa-university"></i>
                        <h3>Giải thưởng</h3>
                        <p>Embark on a virtual treasure hunt as you tackle math challenges and reveal colorful prizes. The more you practice, the more you win! </p>
                    </div>
                </article>
            </div>
            <div class="col col-360">
                <article class="block-05">
                    <div class="inner">
                        <i class="fa fa-bar-chart"></i>
                        <h3>Giải thưởng</h3>
                        <p>Embark on a virtual treasure hunt as you tackle math challenges and reveal colorful prizes. The more you practice, the more you win! </p>
                    </div>
                </article>
            </div>
        </div>
        <p>Join the millions of students using IXL worldwide. Make learning fun!</p>
        <a class="btn-register" href="" title=""><i class="fa fa-pencil-square-o"></i>Đăng ký miễn phí</a>
    </div>
</section>
