
<section class="box-violympic-02">
    <div class="container">
        <div class="title">
            <h2>Chuyên đề Violympic</h2>
            <p>Hàng trăm chuyên đề phù hợp với từng lớp học</p>
        </div>
        <div class="row" runat="server" id="bind_box">
            
			<div class="col col-360">
				<article class="block-03 type-1">
					<h3 class="head">
						<a href="#" data-accordion="true" data-target="data" data-parent="block-03" >Lớp 1</a>
					</h3>
					<div class="data">
						<div class="summary">
							Counting objects, fewer and more, names of colors, inside and outside, longer and shorter, and more.
						</div>
						<div class="skill">
							<div class="line">
								<div class="cel">TOÁN</div>
								<div class="cel">
									<a href="/Toan.aspx?G=1" title="">412 kỹ năng</a>
								</div>
							</div>
							<div class="line">
								<div class="cel">MATH</div>
								<div class="cel">
									<a href="/MATH.aspx?G=1" title="">764 kỹ năng</a>
								</div>
							</div>
							<div class="line">
								<div class="cel">ENGLISH</div>
								<div class="cel">
									<a href="/ENGLISH.aspx?G=1" title="">87 kỹ năng</a>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
			<div class="col col-360">
				<article class="block-03 type-2">
					<h3 class="head">
						<a href="#" data-accordion="true" data-target="data" data-parent="block-03" >Lớp 2</a>
					</h3>
					<div class="data">
						<div class="summary">
							Lớp 2 mô tả.
						</div>
						<div class="skill">
							<div class="line">
								<div class="cel">TOÁN</div>
								<div class="cel">
									<a href="/Toan.aspx?G=2" title="">543 kỹ năng</a>
								</div>
							</div>
							<div class="line">
								<div class="cel">MATH</div>
								<div class="cel">
									<a href="/MATH.aspx?G=2" title="">23 kỹ năng</a>
								</div>
							</div>
							<div class="line">
								<div class="cel">ENGLISH</div>
								<div class="cel">
									<a href="/ENGLISH.aspx?G=2" title="">52 kỹ năng</a>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
			
			<div class="col col-360">
				<article class="block-03 type-3">
					<h3 class="head">
						<a href="#" data-accordion="true" data-target="data" data-parent="block-03" >Lớp 3</a>
					</h3>
					<div class="data">
						<div class="summary">
							Lớp 3 mô tả.
						</div>
						<div class="skill">
							<div class="line">
								<div class="cel">TOÁN</div>
								<div class="cel">
									<a href="/Toan.aspx?G=3" title="">35 kỹ năng</a>
								</div>
							</div>
							<div class="line">
								<div class="cel">MATH</div>
								<div class="cel">
									<a href="/MATH.aspx?G=3" title="">14 kỹ năng</a>
								</div>
							</div>
							<div class="line">
								<div class="cel">ENGLISH</div>
								<div class="cel">
									<a href="/ENGLISH.aspx?G=3" title="">61 kỹ năng</a>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
			
			<div class="col col-360">
				<article class="block-03 type-4">
					<h3 class="head">
						<a href="#" data-accordion="true" data-target="data" data-parent="block-03" >Lớp 4</a>
					</h3>
					<div class="data">
						<div class="summary">
							Lớp 4 mô tả.
						</div>
						<div class="skill">
							<div class="line">
								<div class="cel">TOÁN</div>
								<div class="cel">
									<a href="/Toan.aspx?G=4" title="">654 kỹ năng</a>
								</div>
							</div>
							<div class="line">
								<div class="cel">MATH</div>
								<div class="cel">
									<a href="/MATH.aspx?G=4" title="">61 kỹ năng</a>
								</div>
							</div>
							<div class="line">
								<div class="cel">ENGLISH</div>
								<div class="cel">
									<a href="/ENGLISH.aspx?G=4" title="">64 kỹ năng</a>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
			
            <!-- <div class="col col-360"> -->
                <!-- <article class="block-04"> -->
                    <!-- <div class="item"> -->
                        <!-- <h3> -->
                            <!-- <a href="" title="">Chuyên đề mới</a> -->
                        <!-- </h3> -->
                        <!-- <p>Great news for budding readers and writers! First grade language arts is here.</p> -->
                        <!-- <a href="" title="">Explore</a> -->
                        <!-- <i class="fa fa-bookmark"></i> -->
                    <!-- </div> -->
                    <!-- <div class="item"> -->
                        <!-- <h3> -->
                            <!-- <a href="" title="">Sắp phát hành</a> -->
                        <!-- </h3> -->
                        <!-- <p>More skills are coming soon for science and social studies! Learn more</p> -->
                        <!-- <a href="" title="">Learn more</a> -->
                        <!-- <i class="fa fa-book"></i> -->
                    <!-- </div> -->
                <!-- </article> -->
            <!-- </div> -->
        </div>
    </div>
</section>