
<section class="box-violympic-10">
    <div class="container">
        <div class="row">
            <div class="col col-900">
                <div class="block-19" id="play-content">
                    <div class="exams" id="exams">
                    </div>
                    <div class="explanation" id="explanation" style="display:none;">
                            <div class="interpret">Giải thích</div>
                            <div class="quizzes">
                                <div class="head">
                                    <div class="review">Ghi nhớ</div>
                                </div>
                                <div id="result" class="description">

                                </div>
                            </div>
                                    
                        </div>
                    <div class="handle">
                        <button type="button" id="submit" class="btn-submit" onclick="">Nộp bài</button>
                    </div>
                </div>
            </div>
            <input name="iUnit" type="hidden" value="<%=iUnit %>" />
            <input name="grade" type="hidden" value="<%=iClass %>" />
            <input name="listID"  type="hidden"  value="<%=listUnP %>" />
            <input name="BoolCorrect" type="hidden" value="" />
			{Local/Play_col180}
        </div>
        <div id="getmark" style="display:none;">
        </div>
    </div>
</section>