<section class="box-violympic-04">
    <div class="container">
        <div class="title">
            <h2>Nhận xét người dùng</h2>
            <p>Hơn 10,000 học sinh đang sử dụng Violympic mỗi ngày</p>
        </div>
        <div class="comments">
            <ul id="slider-comment">
                <li>
                    <div class="content">
                        <div class="comment">
                            Hôm vừa rồi mình chuyển nhà, mình thực sự lo lắng vì không có ai giúp dọn dẹp nhà cửa sắp xếp đồ đạc lại. Có nguời bạn giới thiệu mình đến với JupViec, rất cảm ơn các bạn đã đem đến cho chị em phụ nữ chúng mình một dịch vụ khá hữu ích, tiện lợi. Nhân viên rất nhiệt tình làm sạch sẽ, mình đã rất cảm ơn bạn nhân viên là có lòng mời bạn ở lại ăn cơm với gia đình, nhưng nhân viên từ chối vì đang có lịch nhà Khách hàng tiếp theo.
                        </div>
                        <div class="customer">Chị Trần Thu Hà</div>
                        <div class="address">Đc: Đường Tô Hiệu, Hà Đông, Hà Nội <a href="Comment.aspx" title="">Xem thêm</a></div>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <div class="comment">
                            Hôm vừa rồi mình chuyển nhà, mình thực sự lo lắng vì không có ai giúp dọn dẹp nhà cửa sắp xếp đồ đạc lại. Có nguời bạn giới thiệu mình đến với JupViec, rất cảm ơn các bạn đã đem đến cho chị em phụ nữ chúng mình một dịch vụ khá hữu ích, tiện lợi. Nhân viên rất nhiệt tình làm sạch sẽ, mình đã rất cảm ơn bạn nhân viên là có lòng mời bạn ở lại ăn cơm với gia đình, nhưng nhân viên từ chối vì đang có lịch nhà Khách hàng tiếp theo.
                        </div>
                        <div class="customer">Chị Trần Thu Hà</div>
                        <div class="address">Đc: Đường Tô Hiệu, Hà Đông, Hà Nội <a href="Comment.aspx" title="">Xem thêm</a></div>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <div class="comment">
                            Hôm vừa rồi mình chuyển nhà, mình thực sự lo lắng vì không có ai giúp dọn dẹp nhà cửa sắp xếp đồ đạc lại. Có nguời bạn giới thiệu mình đến với JupViec, rất cảm ơn các bạn đã đem đến cho chị em phụ nữ chúng mình một dịch vụ khá hữu ích, tiện lợi. Nhân viên rất nhiệt tình làm sạch sẽ, mình đã rất cảm ơn bạn nhân viên là có lòng mời bạn ở lại ăn cơm với gia đình, nhưng nhân viên từ chối vì đang có lịch nhà Khách hàng tiếp theo.
                        </div>
                        <div class="customer">Chị Trần Thu Hà</div>
                        <div class="address">Đc: Đường Tô Hiệu, Hà Đông, Hà Nội <a href="Comment.aspx" title="">Xem thêm</a></div>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <div class="comment">
                            Hôm vừa rồi mình chuyển nhà, mình thực sự lo lắng vì không có ai giúp dọn dẹp nhà cửa sắp xếp đồ đạc lại. Có nguời bạn giới thiệu mình đến với JupViec, rất cảm ơn các bạn đã đem đến cho chị em phụ nữ chúng mình một dịch vụ khá hữu ích, tiện lợi. Nhân viên rất nhiệt tình làm sạch sẽ, mình đã rất cảm ơn bạn nhân viên là có lòng mời bạn ở lại ăn cơm với gia đình, nhưng nhân viên từ chối vì đang có lịch nhà Khách hàng tiếp theo.
                        </div>
                        <div class="customer">Chị Trần Thu Hà</div>
                        <div class="address">Đc: Đường Tô Hiệu, Hà Đông, Hà Nội <a href="Comment.aspx" title="">Xem thêm</a></div>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <div class="comment">
                            Hôm vừa rồi mình chuyển nhà, mình thực sự lo lắng vì không có ai giúp dọn dẹp nhà cửa sắp xếp đồ đạc lại. Có nguời bạn giới thiệu mình đến với JupViec, rất cảm ơn các bạn đã đem đến cho chị em phụ nữ chúng mình một dịch vụ khá hữu ích, tiện lợi. Nhân viên rất nhiệt tình làm sạch sẽ, mình đã rất cảm ơn bạn nhân viên là có lòng mời bạn ở lại ăn cơm với gia đình, nhưng nhân viên từ chối vì đang có lịch nhà Khách hàng tiếp theo.
                        </div>
                        <div class="customer">Chị Trần Thu Hà</div>
                        <div class="address">Đc: Đường Tô Hiệu, Hà Đông, Hà Nội <a href="Comment.aspx" title="">Xem thêm</a></div>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <div class="comment">
                            Hôm vừa rồi mình chuyển nhà, mình thực sự lo lắng vì không có ai giúp dọn dẹp nhà cửa sắp xếp đồ đạc lại. Có nguời bạn giới thiệu mình đến với JupViec, rất cảm ơn các bạn đã đem đến cho chị em phụ nữ chúng mình một dịch vụ khá hữu ích, tiện lợi. Nhân viên rất nhiệt tình làm sạch sẽ, mình đã rất cảm ơn bạn nhân viên là có lòng mời bạn ở lại ăn cơm với gia đình, nhưng nhân viên từ chối vì đang có lịch nhà Khách hàng tiếp theo.
                        </div>
                        <div class="customer">Chị Trần Thu Hà</div>
                        <div class="address">Đc: Đường Tô Hiệu, Hà Đông, Hà Nội <a href="Comment.aspx" title="">Xem thêm</a></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col col-90">
                <a data-slide="0" data-go="true" class="active" href="" title="">
                    <img src="asset/img/data/img-70x70-1.jpg" width="70" height="70" alt="Trần Thu Hà"/>
                </a>
            </div>
            <div class="col col-90">
                <a data-slide="1" data-go="true" href="" title="">
                    <img src="asset/img/data/img-70x70-2.jpg" width="70" height="70" alt=""/>
                </a>
            </div>
            <div class="col col-90">
                <a data-slide="2" data-go="true" href="" title="">
                    <img src="asset/img/data/img-70x70-3.jpg" width="70" height="70" alt=""/>
                </a>
            </div>
            <div class="col col-90">
                <a data-slide="3" data-go="true" href="" title="">
                    <img src="asset/img/data/img-70x70-4.jpg" width="70" height="70" alt=""/>
                </a>
            </div>
            <div class="col col-90">
                <a data-slide="4" data-go="true" href="" title="">
                    <img src="asset/img/data/img-70x70-5.jpg" width="70" height="70" alt=""/>
                </a>
            </div>
            <div class="col col-90">
                <a data-slide="5" data-go="true" href="" title="">
                    <img src="asset/img/data/img-70x70-6.jpg" width="70" height="70" alt=""/>
                </a>
            </div>
        </div>
    </div>
</section>