<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col col-360">
                <div class="block-06">
                    <h2>
                        <a href="" title="">
                            <img src="asset/img/logo.png" width="290" height="147" alt=""/>
                        </a>
                    </h2>
                    <p>IXL is an immersive K-12 learning experience that provides comprehensive, standards-aligned content for math, language arts, science, and social studies.</p>
                    <a class="btn-register" href="/Register.aspx" title=""><i class="fa fa-pencil-square-o"></i>Đăng ký miễn phí</a>
                </div>
            </div>
            <div class="col col-180">
                <div class="block-07">
                    <h3>
                        <a href="" title="">What we offer</a>
                    </h3>
                    <ul>
                        <li>
                            <a href="" title="">For schools</a>
                        </li>
                        <li>
                            <a href="" title="">For families</a>
                        </li>
                        <li>
                            <a href="" title="">Math</a>
                        </li>
                        <li>
                            <a href="" title="">Language arts</a>
                        </li>
                        <li>
                            <a href="" title="">Science</a>
                        </li>
                        <li>
                            <a href="" title="">Social studies</a>
                        </li>
                        <li>
                            <a href="" title="">Awards</a>
                        </li>
                        <li>
                            <a href="" title="">Analytics</a>
                        </li>
                        <li>
                            <a href="" title="">Standards</a>
                        </li>
                        <li>
                            <a href="" title="">Mobile apps</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col col-180">
                <div class="block-07">
                    <h3>
                        <a href="" title="">Community</a>
                    </h3>
                    <ul>
                        <li>
                            <a href="" title="">Help center</a>
                        </li>
                        <li>
                            <a href="" title="">Tell us what you think</a>
                        </li>
                        <li>
                            <a href="" title="">Blog</a>
                        </li>
                        <li>
                            <a href="" title="">Testimonials</a>
                        </li>
                        <li>
                            <a href="" title="">Success stories</a>
                        </li>
                        <li>
                            <a href="" title="">Webinars</a>
                        </li>
                        <li>
                            <a href="" title="">Professional development</a>
                        </li>
                        <li>
                            <a href="" title="">Contact us</a>
                        </li>
                    </ul>
                </div>
                <ul class="social pc">
                    <li>
                        <a class="facebook" href="http://www.facebook.com/" title="Facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a class="youtube" href="https://www.youtube.com/channel/" title="Youtube"><i class="fa fa-youtube"></i></a>
                    </li>
                    <li>
                        <a class="email" href="mailto:info@violympic.vn" title=info@violympic.vn"><i class="fa fa-envelope-o"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col col-180">
                <div class="block-07">
                    <h3>
                        <a href="" title="">About</a>
                    </h3>
                    <ul>
                        <li>
                            <a href="" title="">Company information</a>
                        </li>
                        <li>
                            <a href="" title="">Terms of service</a>
                        </li>
                        <li>
                            <a href="" title="">Privacy policy</a>
                        </li>
                        <li>
                            <a href="" title="">Press room</a>
                        </li>
                        <li>
                            <a href="" title="">Jobs</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col col-180">
                <div class="block-07">
                    <h3>
                        <a href="" title="">Editions</a>
                    </h3>
                    <ul>
                        <li>
                            <a href="" title="">United States</a>
                        </li>
                        <li>
                            <a href="" title="">Australia</a>
                        </li>
                        <li>
                            <a href="" title="">Canada</a>
                        </li>
                        <li>
                            <a href="" title="">Europe</a>
                        </li>
                        <li>
                            <a href="" title="">India</a>
                        </li>
                        <li>
                            <a href="" title="">Ireland</a>
                        </li>
                        <li>
                            <a href="" title="">New Zealand</a>
                        </li>
                        <li>
                            <a href="" title="">Singapore</a>
                        </li>
                        <li>
                            <a href="" title="">South Africa</a>
                        </li>
                        <li>
                            <a href="" title="">United Kingdom</a>
                        </li>
                        <li>
                            <a href="" title="">All editions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sp group">
            <ul class="social">
                <li>
                    <a class="facebook" href="http://www.facebook.com/" title="Facebook"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a class="youtube" href="https://www.youtube.com/channel/" title="Youtube"><i class="fa fa-youtube"></i></a>
                </li>
                <li>
                    <a class="email" href="mailto:info@violympic.vn" title=info@violympic.vn"><i class="fa fa-envelope-o"></i></a>
                </li>
            </ul>
            <div class="copyright">&copy; 2016 IXL Learning. All rights reserved.</div>
        </div>
    </div>
</footer>
