<header class="header">
    <div class="header-top">
        <div class="system">VIOLYMPIC NETWORK:</div>
        <nav class="nav" id="nav-top">
            <ul>
                <li>
                    <a class="active" href="" title="">Chuyên đề</a>
                </li>
                <li>
                    <a href="" title="">Violympic</a>
                </li>
                
            </ul>
        </nav>
        <div class="donors">
            <div class="item">
                <a href="" title="">
                    <img src="asset/img/data/img-donors-1.jpg" width="78" height="23" alt="" />
                    <span>Nhà tài trợ bạc</span>
                </a>
            </div>
            <div class="item">
                <a href="" title="">
                    <img src="asset/img/data/img-donors-2.jpg" width="78" height="23" alt="" />
                    <span>Nhà tài trợ đồng hành</span>
                </a>
            </div>
        </div>
    </div>
    <div class="header-mid">
        <div class="container">
            <h1 class="logo">
                <a href="/Default.aspx" title="Violimpic Logo">
                    <img src="asset/img/logo.png" width="290" height="147" alt="Violimpic Logo" />
                </a>
            </h1>
            <div class="login">
                <div class="row">
                    {Common/UserInfomation}
                </div>
            </div>
            <a href="#block-search" title="Search" class="btn-search" data-search="true"><i class="fa fa-search"></i></a>
        </div>
    </div>
    <div class="header-bot">
        <div class="container">
            <div class="row">
                <div class="col col-798">
                    <nav class="nav-main">
                        <ul>
                            <li>
                                <a href="/Toan.aspx?G=1" title="">TOÁN TIẾNG VIỆT</a>
                            </li>
                            <li>
                                <a href="/Math.aspx?G=1" title="">TOÁN TIẾNG ANH</a>
                            </li>
                            <li>
                                <a href="/English.aspx?G=1" title="">TIẾNG ANH</a>
                            </li>
                             <li>
                                <a href="/IQ.aspx?G=1" title="">IQ</a>
                            </li>
                            
                        </ul>
                    </nav>
                </div>
                <div class="col col-210">
                    <div class="search">
                        <form action="1-trang-chu.html" method="post">
                            <input type="search" placeholder="Tìm kiếm chuyên đề" class="form-control" name="search" />
                            <button type="button" class="btn-search"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</header>