
[if (Userinfo == null)
{ 
<div class="col">
    <div class="google">
        <a href="/LoginG.aspx?T=login"><span>Đăng nhập bằng Gmail</span></a>
    </div>
    <div class="register">
        <a href="/Register.aspx" title="">Đăng ký tài khoản?</a>
    </div>
</div>
<div class="col">
    <form action="1-trang-chu.html" method="post">
        <div class="row">
            <div class="col">
                <div class="line">
                    <input type="text" placeholder="Tài khoản" name="username" class="form-control" />
                </div>
            </div>
            <div class="col">
                <div class="line">
                    <input type="password" placeholder="Mật khẩu" name="password" class="form-control" />
                </div>
                <div class="line">
                    <a href="" title="Quên mật khẩu?">Quên mật khẩu?</a>
                </div>
            </div>
            <div class="col">
                <div class="line">
                    <button type="button" class="btn-login" onclick="Login()" >Đăng nhập</button>
                </div>
            </div>
        </div>
    </form>
</div>
}
else
{
    <div class="user">
        <div class="row">
            <div class="col">
                <a href="" title="">
                    <img src="asset/img/avatar.jpg" width="180" height="180" alt="Avatar"/>
                </a>
            </div>
            <div class="col">
                <ul class="nav-user">
                    <li>
                        <a class="front-pointer" >{Userinfo.s_fullname}</a>
                        <ul>
                            <li>
                                <a href="/UserInfo.Html/Info" title=""><span>Thông tin tài khoản</span></a>
                            </li>
                            <li>
                                <a href="/UserInfo.Html/Vip" title=""><span>Thông tin VIP</span></a>
                            </li>
                            <li>
                                <a href="/UserInfo.html/Profile?c=1" title=""><span>Học bạ</span></a>
                            </li>
                            <li>
                                <a href="/UserInfo.HTML/repass" title=""><span>Đổi mật khẩu</span></a>
                            </li>
                            <li>
                                <a class="front-pointer" onclick="Logout()"><span><i class="fa fa-sign-out"></i>Thoát</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="info">VIP đến:  0 ngày</div>
            </div>
        </div>
    </div>
}