﻿@model Thihay.API.Client.Models.Unit

@{
    ViewData["Title"] = "Kỹ Năng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cập Nhật Kỹ Năng</h2>

<form asp-action="Update" method="post">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="col-md-2 control-label">Tên Môn Học</label>
            <div class="col-md-10">
                @await Component.InvokeAsync("SubjectDropdown")
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Lớp Học</label>
            <div class="col-md-10">
                @await Component.InvokeAsync("ClassDropdown")
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Chuyên Đề</label>
            <div class="col-md-10 topic-dropdown">
                @await Component.InvokeAsync("TopicDropdown")
                <span asp-validation-for="TopicId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Tên Kỹ Năng</label>
            <div class="col-md-10">
                <input asp-for="NameUnit" class="form-control" />
                <span asp-validation-for="NameUnit" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Mô tả chi tiết</label>
            <div class="col-md-10">
                <textarea asp-for="DescriptionUnit" class="thihay-textarea"></textarea>
                <span asp-validation-for="DescriptionUnit" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input asp-for="Id" class="form-control" type="hidden" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-default">Quay về danh sách</a>
    <a asp-action="Index" asp-controller="Question" asp-route-unitId="@Model.Id" class="btn btn-default">Xem danh sách câu hỏi</a>
</div>