﻿@model Thihay.API.Client.Models.Question

@if (Model != null)
{
    <div class="exams" id="exams">

        <div class="ThQuestion" id="question-id" data-question-id="@Model.Id">@Html.Raw(Model.QuestionContent)</div>
        <div id="ThOrder">
            @foreach (var question in Model.QuestionDetail)
            {
                <div data-question-id="@question.QuestionDetailId" class="rowOrder"><span></span>@Html.Raw(question.QuestionDetailContent)</div>
            }
        </div>
        <input type="hidden" value="@Model.QuestionType" id="question-type" />
    </div>
    <div class="explanation" id="explanation">
        <div class="interpret">Giải thích</div>
        <div class="quizzes">
            <div class="head">
                <div class="review">Ghi nhớ</div>
            </div>
            <div id="result" class="description">
                @Html.Raw(Model.QuestionExplanation)
            </div>
        </div>
    </div>
}
    @*<div class="handle">
            <button type="button" id="submit" class="btn-submit" onclick="">Nộp bài</button>
        </div>*@
    <script>
    StartOrder();

    function StartOrder() {
        $(function () {
            //$("#ThOrder").sortable({
            //    appendTo: document.body,
            //    //revert: true
            //});
            $('#ThOrder').sortable({
                helper: 'clone',
                appendTo: document.body,
                placeholder: "ui-state-highlight",
                forcePlaceholderSize: true,
                cursor: 'move'
            });
            $("#ThOrder").disableSelection();
        });
    }
    </script>
    @*<div class="ThQuestion">
            <p>Order the words.</p>
        </div><div id="ThOrder">
            <div name="1" class="rowOrder">
                <span></span>a
            </div><div name="2" class="rowOrder">
                <span></span>bird.
            </div><div name="0" class="rowOrder">
                <span></span>It&rsquo;s
            </div>
        </div><div class="btnDD"><a class="btnEn" onclick="Mark(7,0)">Nộp</a></div>
        <script>StartOrder();</script>*@