﻿@model Thihay.API.Client.Models.Question

@{
    bool isHasMultiSubQuestion = Model != null && Model.QuestionDetail.Count > 1;
}
@if (Model != null)
{
    <div class="exams" id="exams">

        <div class="ThPass5" id="question-id" data-question-id="@Model.Id">@Html.Raw(Model.QuestionContent)</div>
        <input type="hidden" value="@Model.QuestionType" id="question-type" />
    </div>
    <div class="explanation" id="explanation">
        <div class="interpret">Giải thích</div>
        <div class="quizzes">
            <div class="head">
                <div class="review">Ghi nhớ</div>
            </div>
            <div id="result" class="description">
                @Model.QuestionExplanation
            </div>
        </div>
    </div>
}
    @*<div class="handle">
            <button type="button" id="submit" class="btn-submit" onclick="">Nộp bài</button>
        </div>*@
    @*<div class="ThPass5">
            <p>
                &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Earth is the only place we know of in the universe that can support human life <select class="ThSelect">
                    <option value="e4e022d564aa2991ba61b9f228335e20">
                        still
                    </option>
                    <option value="93b9e566e2b1485643b9cbe19925e493">
                        as
                    </option>
                    <option value="bb94b6525c6c1e0e495bc0d754757a16">
                        bs
                    </option>
                    <option value="731d1a7ac5af503ec3d36e00f8353595">
                        cs
                    </option>
                </select>&nbsp;human activities are making the planet less fit to live on. As the western world carries on consuming two-thirds of the world&#39;s resources while half of the world&#39;s population do so <select class="ThSelect">
                    <option value="e4e022d564aa2991ba61b9f228335e20">
                        a
                    </option>
                    <option value="93b9e566e2b1485643b9cbe19925e493">
                        b
                    </option>
                    <option value="bb94b6525c6c1e0e495bc0d754757a16">
                        c
                    </option>
                    <option value="731d1a7ac5af503ec3d36e00f8353595">
                        d
                    </option>
                </select>&nbsp;&nbsp;to stay alive we are rapidly destroying the {}&nbsp;&nbsp;resource we have by which all people can survive and prosper. Everywhere fertile soil is {}&nbsp;built on or washed into the sea. Renewable resources are exploited so much that they will never be able to recover {}&nbsp;We discharge pollutants into the atmosphere without any thought of the consequences. As a {}&nbsp;the planet&#39;s ability to support people is being reduced at the very time when
            </p>
        </div><a class="btnEn" onclick="Mark(5,0)">Nộp</a>
        <script>StartMark(5, 0);</script>*@