﻿@model Thihay.API.Client.Models.Question

@{
    bool isHasMultiSubQuestion = Model != null && Model.QuestionDetail.Count > 1;
    var answers = Model.QuestionDetail.Where(a => a.Answers.Count > 0).FirstOrDefault().Answers;
}
@if (Model != null)
{
    <div class="exams" id="exams">

        <div class="ThType8" id="question-id" data-question-id="@Model.Id">
            @foreach (var answer in answers)
            {
                <div data-answer-id="@answer.AnswerId" name="@answer.AnswerId" class="ThRow8">@Html.Raw(answer.AnswerContent)</div>
            }
        </div>
        <div class="ThQuestion">@Html.Raw(Model.QuestionContent)</div>
        <input type="hidden" value="@Model.QuestionType" id="question-type" />
    </div>
    <div class="explanation" id="explanation">
        <div class="interpret">Giải thích</div>
        <div class="quizzes">
            <div class="head">
                <div class="review">Ghi nhớ</div>
            </div>
            <div id="result" class="description">
                @Html.Raw(Model.QuestionExplanation)
            </div>
        </div>
    </div>
}
    @*<div class="handle">
            <button type="button" id="submit" class="btn-submit" onclick="">Nộp bài</button>
        </div>*@
    <script>
        StartType8();
        function StartType8() {
            group = $("div[class*='ThRow8']");
            group.each(function () {
                $(this).draggable({
                    appendTo: "body",
                    helper: "clone"
                });
            });
            group = $("[class*='blank8']");
            group.each(function () {
                $(this).droppable({
                    drop: function (event, ui) {
                        $(this).html(ui.draggable.html().trim().replace('<p>', '').replace('</p>',''));
                        $(this).effect("pulsate", { times: 2 }, "slow");
                        $(this).attr('name', ui.draggable.attr('name'));
                        $(this).attr('data-answer-id', ui.draggable.attr('data-answer-id'));
                    }
                });
            });
        }
        function StopType8() {
            group = $("div[class*='ThRow8']");
            group.each(function () {
                $(this).draggable('disable');
            });
        }
    </script>
    @*<div id="ThType8">
            <div name="1" class="ThRow8">
                a
            </div><div name="2" class="ThRow8">
                an
            </div>
        </div><div class="ThQuestion">
            <p><strong>Write a or &nbsp;an:</strong></p>

            <p>&nbsp;</p>

            <p>1. This is <span class="blank8"></span>&nbsp;biscuit.</p>

            <p>&nbsp;</p>

            <p>2. I&rsquo;ve got<span class="blank8"></span>apple.</p>

            <p>&nbsp;</p>

            <p>3. I&rsquo;ve got<span class="blank8"></span>egg.</p>

            <p>&nbsp;</p>

            <p>4. This is <span class="blank8"></span>&nbsp;hat.</p>

            <p>&nbsp;</p>

            <p>5. It&rsquo;s <span class="blank8"></span>&nbsp;sandwich.</p>

            <p>&nbsp;</p>

            <p>6. I&rsquo;ve got<span class="blank8"></span>umbrella.</p>
        </div><a name="1;2;2;1;1;2" class="btnEn" onclick="Mark(8,0)">Nộp</a>
        <script>StartType8();</script>*@