﻿@model Thihay.API.Client.Models.Question

@{
    bool isHasMultiSubQuestion = Model != null && Model.QuestionDetail.Count > 1;
    var question = Model;
    var isMath = ViewBag.IsMath != null ? (bool)ViewBag.IsMath : false;
}
@if (question != null)
{
    <div class="exams" id="exams">
        <div class="ThPassage" id="question-id" data-question-id="@Model.Id">@Html.Raw(question.QuestionContent)</div>
        <input type="hidden" value="@Model.QuestionType" id="question-type" />
    </div>
    <div class="explanation" id="explanation">
        <div class="interpret">Giải thích</div>
        <div class="quizzes">
            <div class="head">
                <div class="review">Ghi nhớ</div>
            </div>
            <div id="result" class="description">
                @Html.Raw(question.QuestionExplanation)
            </div>
        </div>
    </div>
}
@*<div class="handle">
    <button type="button" id="submit" class="btn-submit" onclick="">Nộp bài</button>
</div>*@

<script type="text/javascript">
    @if (isMath)
    {
        @:showKeyBoard();
    }
    $(".input-math").each(function () {
        var id = $(this).attr("id");
        var questionId = $(this).data("question-id");
        var inputId = $("#value-field-" + questionId)
        var mathFieldSpan = document.getElementById(id);
        var mathField = MQ.MathField(mathFieldSpan, {
            spaceBehavesLikeTab: false, // configurable
            handlers: {
                edit: function () { // useful event handlers
                    inputId.val(mathField.latex()); // simple API
                }
            }});
    });
</script>
@*<div class="ThPassage ">
        <p>I don&rsquo;t like&nbsp; my neighbors because they are <input type="text" class="Thblank" required="true" onkeypress="autolen(this)" /> (FRIEND).</p>

        <p>I want to rent a <input type="text" class="Thblank" required="true" onkeypress="autolen(this)" /> (FURNITURE) apartment, please.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    </div><a class="btnEn" onclick="Mark(3,0)">Nộp</a>
    <script>StartMark(3,0);</script>*@ 