﻿@model Thihay.User.ViewModel.GroupQuestionModel

@if (Model != null)
{
    <div class="exams" id="exams">

        <div class="ThQuestion" id="question-id" data-question-id="@Model.QuestionId">@Html.Raw(Model.QuestionContent)</div>
        <div class="Th-Source-9">
            @foreach (var answer in Model.Answers)
            {
                <div class="Th-Row-9" data-answer-id="@answer.AnswerId">
                    <p data-answer-id="@answer.AnswerId">
                        @Html.Raw(answer.AnswerContent)
                    </p>
                </div>
            }
        </div>
        <table class="Th-Target-9">
            <tr class="thead">
                @foreach (var question in Model.Questions)
                {
                    <td class="head-9">@Html.Raw(question.QuestionDetailContent.ToUpper())</td>
                }
            </tr>
            <tr>
                @foreach (var question in Model.Questions)
                {
                    <td class="Td-Drog-9" data-question-detail-id="@question.QuestionDetailId"></td>
                }
            </tr>
        </table>
        <input type="hidden" value="@Model.QuestionType" id="question-type" />
    </div>
    <div class="explanation" id="explanation">
        <div class="interpret">Giải thích</div>
        <div class="quizzes">
            <div class="head">
                <div class="review">Ghi nhớ</div>
            </div>
            <div id="result" class="description">
                @Html.Raw(Model.QuestionExplanation)
            </div>
        </div>
    </div>
}
@*<div class="handle">
    <button type="button" id="submit" class="btn-submit" onclick="">Nộp bài</button>
</div>*@
<script>
    StartType9();
    function StartType9() {
        count = $("td[class*='Td-Drog-9']").length;
        len = (100 / count) - 1;
        $("td[class*='Td-Drog-9']").css("width", len + "%");
        group = $("div[class*='Th-Row-9']");
        group.each(function () {
            $(this).draggable({
                helper: "clone",
            });
        });
        $("td[class*='Td-Drog-9']")
            .droppable({
                drop: function (event, ui) {
                    if (ui.draggable.html() != "") {
                        val = '<div class="Th-Row-9">' + ui.draggable.html() + '</div>';
                        $(this).append(val);
                        ui.draggable.remove();
                        $("div[class*='Th-Row-9']").draggable({
                            helper: "clone",
                        });
                    }
                }
            });
    }
</script>
@*<div class="ThQuestion">
        <p><strong>Write the words in the correct box.</strong></p>
    </div><div class="Th-Source-9">
        <div class="Th-Row-9">
            <p name="7">
                <strong>pen</strong>
            </p>
        </div><div class="Th-Row-9">
            <p name="0">
                <strong>train</strong>
            </p>
        </div><div class="Th-Row-9">
            <p name="10">
                <strong>hands</strong>
            </p>
        </div><div class="Th-Row-9">
            <p name="4">
                <strong>ruler</strong>
            </p>
        </div><div class="Th-Row-9">
            <p name="1">
                <strong>puzzle</strong>
            </p>
        </div><div class="Th-Row-9">
            <p name="9">
                <strong>eyes</strong>
            </p>
        </div><div class="Th-Row-9">
            <p name="5">
                <strong>book</strong>
            </p>
        </div><div class="Th-Row-9">
            <p name="8">
                <strong>legs</strong>
            </p>
        </div><div class="Th-Row-9">
            <p name="6">
                <strong>pencil</strong>
            </p>
        </div><div class="Th-Row-9">
            <p name="2">
                <strong>teddy</strong>
            </p>
        </div><div class="Th-Row-9">
            <p name="11">
                <strong>face</strong>
            </p>
        </div><div class="Th-Row-9">
            <p name="3">
                <strong>ball</strong>
            </p>
        </div>
    </div>
    <table class="Th-Target-9">
        <tr class="thead">
            <td class="head-9">
                <P><STRONG>TOYS</STRONG></P>
            </td>
            <td class="head-9">
                <P><STRONG>SCHOOL</STRONG></P>
            </td>
            <td class="head-9">
                <P><STRONG>BODY</STRONG></P>
            </td>
        </tr>
        <tr><td name="0" class="Td-Drog-9"></td><td name="1" class="Td-Drog-9"></td><td name="2" class="Td-Drog-9"></td></tr>
    </table><a name="4;8;12;" class="btnEn" onclick="Mark(9,0)">Nộp</a>
    <script>StartType9();</script>*@