﻿@model Thihay.User.ViewModel.MatchingQuestion

@{
    var question = Model;
}
@if (question != null)
{
    <div class="exams" id="exams">
        <div class="ThQuestion" id="question-id" data-question-id="@Model.QuestionId">@Html.Raw(question.QuestionContent)</div>
        <div id="SourceDD">
            @foreach (var left in question.Question)
            {
                <div class="LeftDD" id="L-@left.QuestionDetailId" data-question-detail-id="@left.QuestionDetailId"><p  name="@left.QuestionDetailId">@Html.Raw(left.QuestionDetailContent)</p></div>
            }
        </div>
        <div id="Middle">
            @foreach (var left in question.Question)
            {
                <div id="M-@left.QuestionDetailId" class="MiddleDD noneDD"></div>
            }
        </div>
        <div id="TargetDD">
            @foreach (var right in question.Answer)
            {
                <div class="RightDD RExist" id="R-@right.AnswerId"><p class="answer-match" data-answer-id="@right.AnswerId" name="@right.AnswerId">@Html.Raw(right.AnswerContent)</p></div>
            }
        </div>
        <input type="hidden" value="@Model.QuestionType" id="question-type" />
    </div>
    <div class="explanation" id="explanation">
        <div class="interpret">Giải thích</div>
        <div class="quizzes">
            <div class="head">
                <div class="review">Ghi nhớ</div>
            </div>
            <div id="result" class="description">
                @Html.Raw(question.QuestionExplanation)
            </div>
        </div>
    </div>
}
@*<div class="handle">
    <button type="button" id="submit" class="btn-submit" onclick="">Nộp bài</button>
</div>*@
<script>
    StartDD();
    function StartDD() {
        var val;
        group = $("div[class*='RightDD']");
        group.each(function () {
            val = $(this).width();
            if ($(this).html() != "") {
                $(this).awesomeCursor('space-shuttle', { color: 'blue', size: 50, flip: 'horizontal' });
            }
            $(this).draggable({
                revert: true
            });
            $(this).droppable({
                drop: function (event, ui) {
                    if ($(this).html() == "" && ui.draggable.html() != "") {
                        $(this).html(ui.draggable.html());
                        $(this).addClass("RExist");
                        $(this).removeClass("noneDD");
                        if (ui.draggable.attr('class').indexOf("MiddleDD") >= 0) {
                            ui.draggable.empty();
                            ui.draggable.removeClass("Exist");
                            ui.draggable.addClass("noneDD");
                        }
                        else {
                            ui.draggable.empty();
                            ui.draggable.removeClass("RExist");
                            ui.draggable.addClass("noneDD");
                        }
                        $(this).effect("pulsate", { times: 2 }, "slow");
                    }
                }
            });
            $(this).sortable({
                helper: 'clone',
                appendTo: document.body
            });
        });
        group = $("div[class*='MiddleDD']");
        group.each(function () {
            if ($(this).html() != "") {
                $(this).awesomeCursor('arrows', { color: 'blue', size: 40, flip: 'horizontal' });
            }
            $(this).width(val);
            $(this).draggable({
                revert: true
            });
            $(this).droppable({
                drop: function (event, ui) {
                    if ($(this).html() == "" && ui.draggable.html() != "") {
                        $(this).html(ui.draggable.html());
                        $(this).addClass("Exist");
                        $(this).removeClass("noneDD");
                        if (ui.draggable.attr('class').indexOf("MiddleDD") >= 0) {
                            ui.draggable.empty();
                            ui.draggable.removeClass("Exist");
                            ui.draggable.addClass("noneDD");
                        }
                        else {
                            ui.draggable.empty();
                            ui.draggable.removeClass("RExist");
                            ui.draggable.addClass("noneDD");
                        }
                        $(this).effect("pulsate", { times: 2 }, "slow");
                    }
                }
            });
            $(this).sortable({
                helper: 'clone',
                appendTo: document.body
            });
        });
    }
</script>
@*<div class="exams" id="exams">
        <div class="ThQuestion">
            <p><strong>Words/ Reorder the English Alphabet in the right order</strong></p>
        </div><div id="SourceDD">
            <div class="LeftDD" id="L1">
                <p name="e4e022d564aa2991ba61b9f228335e20">
                    <img alt="" src="http://localhost:20455/NewImages/images/the-instrument-store-tis-200-student-violin-full-size-with-ebony-fittings-photo-1.jpg" />
                </p>
            </div><div class="LeftDD" id="L2">
                <p name="93b9e566e2b1485643b9cbe19925e493">
                    <img alt="" src="http://localhost:20455/NewImages/images/777078-20130226061225-schwinn-quad-steer-4x4-wagon.jpg" />
                </p>
            </div><div class="LeftDD" id="L4">
                <p name="731d1a7ac5af503ec3d36e00f8353595">
                    <img alt="" src="http://localhost:20455/NewImages/images/yarn.PNG" style="height:100px; width:107px" />
                </p>
            </div><div class="LeftDD" id="L0">
                <p name="980ca2fe047795c6b2212da507d41451">
                    <img alt="" src="http://localhost:20455/NewImages/images/images%20(1)(2).jpg" />
                </p>
            </div><div class="LeftDD" id="L3">
                <p name="bb94b6525c6c1e0e495bc0d754757a16">
                    <img alt="" src="http://localhost:20455/NewImages/images/download%20(2).jpg" />
                </p>
            </div>
        </div><div id="Middle"><div id="M0" class="MiddleDD noneDD"></div><div id="M1" class="MiddleDD noneDD"></div><div id="M2" class="MiddleDD noneDD"></div><div id="M3" class="MiddleDD noneDD"></div><div id="M4" class="MiddleDD noneDD"></div></div><div id="TargetDD">
            <div class="RightDD RExist" id="R1">
                <p name="e4e022d564aa2991ba61b9f228335e20">
                    V/&nbsp;violin
                </p>
            </div><div class="RightDD RExist" id="R2">
                <p name="93b9e566e2b1485643b9cbe19925e493">
                    W/&nbsp;wagon
                </p>
            </div><div class="RightDD RExist" id="R4">
                <p name="731d1a7ac5af503ec3d36e00f8353595">
                    Y/&nbsp;yarn
                </p>
            </div><div class="RightDD RExist" id="R0">
                <p name="980ca2fe047795c6b2212da507d41451">
                    U/&nbsp;umbrella
                </p>
            </div><div class="RightDD RExist" id="R3">
                <p name="bb94b6525c6c1e0e495bc0d754757a16">
                    X/ X-Man
                </p>
            </div>
        </div><div class="btnDD"><a class="btnEn" onclick="Mark(6,0)">Nộp</a></div>
        <script>StartDD();</script>
    </div>*@