﻿@model Thihay.API.Client.Models.Question

@{
    bool isHasMultiSubQuestion = Model != null && Model.QuestionDetail.Count > 1;
}
@if (Model != null)
{
    <div class="exams" id="exams">
        <div class="ThQuestion" id="question-id" data-question-id="@Model.Id">@Html.Raw(Model.QuestionContent)</div>
        @for (int q = 0; q < Model.QuestionDetail.Count; q++)
        {
            <div class="question-content">
                @{
                    var questionDetail = Model.QuestionDetail[q];
                }
                @if (isHasMultiSubQuestion)
                {
                    <div class="subQues">@Html.Raw(questionDetail.QuestionDetailContent)</div>
                }
                <input type="hidden" value="@questionDetail.QuestionDetailId" class="question-detail-id" name="question[@q].QuestionDetailId" />
                <table id="rowAns" class="subAns">
                    @{
                        var isMultilSelect = questionDetail.Answers.Count(a => a.IsCorrectAnswer) > 1;
                    }
                    @for (int a = 0; a < questionDetail.Answers.Count; a++)
                    {
                        var answer = questionDetail.Answers[a];
                        <tr class="ThRowA" onclick="tick(this, '@isMultilSelect')">
                            <td data-answer-id="@answer.AnswerId" data-answer-index="@answer.AnswerIndex" class="checkA" name="question[@q].Answers[@a].IsCorrectAnswer" data-value="false"><i class="fa fa-times"></i></td>
                            <td class="rowA">
                                @Html.Raw(answer.AnswerContent)
                            </td>

                        </tr>
                    }
                </table>

            </div>

                        }
        <input type="hidden" value="@Model.QuestionType" id="question-type" />
    </div>
    <div class="explanation" id="explanation">
        <div class="interpret">Giải thích</div>
        <div class="quizzes">
            <div class="head">
                <div class="review">Ghi nhớ</div>
            </div>
            <div id="result" class="description">
                @Html.Raw(Model.QuestionExplanation)
            </div>
        </div>
    </div>
                        }
                        @*<div class="handle">
                                <button type="button" id="submit" class="btn-submit" onclick="">Nộp bài</button>
                            </div>*@
                        <script type="text/javascript">
                            function tick(e, isMulti) {
                                if (isMulti === "True" || isMulti === "true" || isMulti === true) {
                                    tickMulti(e);
                                } else {
                                    tickOne(e);
                                }
                            }
                            function tickMulti(e) {
                                if ($(e).hasClass("select")) {
                                    $(e).removeClass("select");
                                    $(e).find("input").removeClass("ticked");
                                    $(e).children("td:first").html("<i class=\"fa fa-times\"></i>");
                                    $(e).children("td:first").attr("data-value", "false");
                                }
                                else {
                                    $(e).addClass("select");
                                    $(e).find("input").addClass("ticked");
                                    $(e).children("td:first").html("<i class=\"fa fa-check\"></i>");
                                    $(e).children("td:first").attr("data-value", "true");
                                }
                            }
                            function tickOne(e) {
                                var group = $(e).parent().find("tr");
                                group.each(function () {
                                    $(this).removeClass("select");
                                    $(this).find("input").removeClass("ticked");
                                    $(this).children("td:first").html("<i class=\"fa fa-times\"></i>");
                                    $(this).children("td:first").attr("data-value", "false");
                                });
                                $(e).addClass("select");
                                $(e).find("input").addClass("ticked");
                                $(e).children("td:first").html("<i class=\"fa fa-check\"></i>");
                                $(e).children("td:first").attr("data-value", "true");
                            }

                        </script>
                        @*<div class="subQues">
                                <p><strong><em>Mark the letter A, B, C, or D on your answer sheet to indicate the correct answer to each of the following questions.</em></strong></p>

                                <p>Grace Kelly was first famous as a Hollywood actress and then ______ Prince Rainier of Monaco.</p>
                            </div>
                            <table id="rowAns" class="subAns">
                                <tr class="ThRowA" onclick="tick1(this)">
                                    <td class="checkA"><i class="fa fa-times"></i></td>
                                    <td name="2" class="rowA">
                                        she was the wife of&nbsp;&nbsp;
                                    </td>
                                </tr>
                                <tr class="ThRowA" onclick="tick1(this)">
                                    <td class="checkA"><i class="fa fa-times"></i></td>
                                    <td name="3" class="rowA">
                                        the wife of
                                    </td>
                                </tr>
                                <tr class="ThRowA" onclick="tick1(this)">
                                    <td class="checkA"><i class="fa fa-times"></i></td>
                                    <td name="4" class="rowA">
                                        as the wife of
                                    </td>
                                </tr>
                                <tr class="ThRowA" onclick="tick1(this)">
                                    <td class="checkA"><i class="fa fa-times"></i></td>
                                    <td name="1" class="rowA">
                                        to be the wife of
                                    </td>
                                </tr>
                            </table><a class="btnEn" onclick="Mark(1,0)">Nộp</a>
                            <script>StartMark(1,0);</script>

                            <div class="subQues">
                                <p>------- all employees are required to work in the office daily, the manager allows work to be done at home for special circumstances.</p>
                            </div>
                            <table id="rowAns" class="subAns">
                                <tr class="ThRowA" onclick="tick(this)">
                                    <td class="checkA"><i class="fa fa-times"></i></td>
                                    <td name="2" class="rowA">
                                        On behalf of
                                    </td>
                                </tr>
                                <tr class="ThRowA" onclick="tick(this)">
                                    <td class="checkA"><i class="fa fa-times"></i></td>
                                    <td name="4" class="rowA">
                                        Therefore
                                    </td>
                                </tr>
                                <tr class="ThRowA" onclick="tick(this)">
                                    <td class="checkA"><i class="fa fa-times"></i></td>
                                    <td name="1" class="rowA">
                                        Although
                                    </td>
                                </tr>
                                <tr class="ThRowA" onclick="tick(this)">
                                    <td class="checkA"><i class="fa fa-times"></i></td>
                                    <td name="3" class="rowA">
                                        So that
                                    </td>
                                </tr>
                            </table><a class="btnEn" onclick="Mark(1,0)">Nộp</a>
                            @*<script>StartMark(1, 0);</script>*@