﻿


<div class="ThPassage ">
    <p><strong>Rewrite the sentences</strong></p>

    <p>Mike has never been to the capital before.</p>

    <p>&gt; This is the first <input type="text" class="Thblank" required="true" onkeypress="autolen(this)" />&nbsp;.</p>

    <p>The football match was put off because of the bad weather.</p>

    <p>&gt; Because<input type="text" class="Thblank" required="true" onkeypress="autolen(this)" />.</p>
</div><a class="btnEn" onclick="Mark(3,0)">Nộp</a>
<script>StartMark(4,0);</script>