﻿@model Thihay.API.Client.Models.Question

@{
    bool isHasMultiSubQuestion = Model != null && Model.QuestionDetail.Count > 1;
}
@if (Model != null)
{
    <div class="exams" id="exams">
        <div class="ThQuestion" id="question-id" data-question-id="@Model.Id">@Html.Raw(Model.QuestionContent)</div>

        @foreach (var questionDetail in Model.QuestionDetail)
        {
            <div class="subQues" data-question-detail-id="@questionDetail.QuestionDetailId">@Html.Raw(questionDetail.QuestionDetailContent)</div>
        }
        <input type="hidden" value="@Model.QuestionType" id="question-type" />
    </div>
    <div class="explanation" id="explanation">
        <div class="interpret">Giải thích</div>
        <div class="quizzes">
            <div class="head">
                <div class="review">Ghi nhớ</div>
            </div>
            <div id="result" class="description">
                @Html.Raw(Model.QuestionExplanation)
            </div>
        </div>
    </div>
}
    @*<div class="handle">
            <button type="button" id="submit" class="btn-submit" onclick="">Nộp bài</button>
        </div>*@
    <script>
        StartType10();
        function StartType10() {
            $("[class*='p-type-10']").awesomeCursor('pencil', { color: 'blue', size: 50, flip: 'vertical' });
        }
        function play_10(e) {
            var att = $(e).attr("class");
            if (att.indexOf('check-10') > 0) {
                $(e).removeClass('check-10');
            }
            else {
                $(e).addClass('check-10');
            }
        }
    </script>
    @*<div class="ThPassage div-type-10 ">
            <p>Read and underline the <b>ch</b> sounds</p>

            <p><span class="p-type-10" onclick="play_10(this)">This</span><span class="p-type-10" onclick="play_10(this)">is</span><span class="p-type-10" onclick="play_10(this)">my</span><span class="p-type-10" onclick="play_10(this)">teacher.</span>
        </div> <input name="mark10" type="hidden" value="4" />
        <script>StartType10();</script>
        <script>StartMark(10, 0);</script>*@