﻿@model IEnumerable<Thihay.API.Client.Models.Unit>

@{
    ViewData["Title"] = "Kỹ Năng";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int page = 1;
    if (ViewBag.Page != null)
    {
        page = (int)ViewBag.Page;
    }
    int totalPage = 1;
    if (ViewBag.TotalPage != null)
    {
        totalPage = (int)ViewBag.TotalPage;
    }

    int firstPaging = page - 2;
    int lastPaging = page + 2;
    firstPaging = firstPaging <= 0 ? 1 : firstPaging;
    lastPaging = lastPaging - firstPaging < 5 ? firstPaging + 4 : lastPaging;
    lastPaging = lastPaging >= totalPage ? totalPage : lastPaging;

    int? classId = (int?)ViewBag.ClassId;
    int? subjectId = (int?)ViewBag.SubjectId;
    int? topicId = (int?)ViewBag.TopicId;
}

<h2>Quản Lý Kỹ Năng</h2>

<p>
    <a asp-action="detail" class="btn btn-default">Tạo Kỹ Năng Mới</a>
</p>
<form asp-action="Index" method="get" id="unit-list-form">
    <div class="form-group">
        <label class="col-md-2 control-label">Search Key</label>
        <div class="col-md-4">
            <input type="text" name="searchKey" value="@ViewBag.Search" class="form-control" />
        </div>
        <div class="col-md-2">
            @await Component.InvokeAsync("ClassDropdown", new { classId = classId })
        </div>
        <div class="col-md-2">
            @await Component.InvokeAsync("SubjectDropdown", new { subjectId = subjectId })
        </div>
        <div class="col-md-2 topic-dropdown">
            @await Component.InvokeAsync("TopicDropdown", new { classId = classId, subjectId = subjectId, topicId = topicId })
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Search" class="btn btn-default search" />
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Chuyên Đề</th>
                <th>Kỹ Năng</th>
                <th>Mô Tả</th>
                <th>Tổng Số Câu Hỏi</th>
                <th>Trạng Thái</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.Raw(item.TopicName)
                        </td>
                        <td>
                            @Html.Raw(item.NameUnit)
                        </td>
                        <td>
                            @Html.Raw(item.DescriptionUnit)
                        </td>
                        <td>
                            @Html.Raw(item.QuestionCount)
                        </td>
                        <td>
                            @if (item.IsDeleted == false)
                            {
                                @:Active
                        }
                            else
                            {
                                @:Inactive
                            }
                        </td>
                        <td>
                            @if (item.IsDeleted == false)
                            {
                                <input type="button" class="btn btn-default change-unit-status" value="Inactive" onclick="changeUnitStaus(@item.Id,'@item.IsDeleted')" />
                                @Html.ActionLink("Sửa", "detail", "unit", new { unitId = item.Id }, new { @class = "btn btn-default" })

                                <a asp-action="Index" asp-controller="Question" asp-route-unitId="@item.Id" class="btn btn-default">Câu hỏi</a>
                            }
                            else
                            {
                                <input type="button" class="btn btn-default change-unit-status" value="Active" onclick="changeUnitStaus(@item.Id, '@item.IsDeleted')" />
                            }
                        </td>
                    </tr>}
            }
        </tbody>
    </table>
    @if (totalPage > 1)
    {
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @if (firstPaging > 1)
                {
                    <li>
                        <a href="#" aria-label="Previous" onclick="moveToPreviousPage(@page, 'unit-list-form')">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }
                @for (int i = firstPaging; i <= lastPaging; i++)
                {
                    var cssClass = "";
                    if (i == page)
                    {
                        cssClass = "active";
                    }
                    <li class="@cssClass"><a href="#" onclick="moveToPage(@i, 'unit-list-form')">@i</a></li>
                }
                @if (lastPaging < totalPage)
                {
                    <li>
                        <a href="#" aria-label="Next" onclick="moveToNextPage(@page, 'unit-list-form')">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    }
    <input type="hidden" name="page" value="@page" class="page-to-move" />
</form>
<form asp-action="ChangeStatus" method="post" id="change-unit-status-form">
    <input type="hidden" id="unit-id-status" name="unitId" />
    <input type="hidden" id="unit-status" name="isDelete" />
</form>