﻿@{ 
    var guid = Guid.NewGuid();
    var order = (int)ViewBag.AnswerOrder;
}

<tr id="tr-question-@guid" class="tr-question">
    <td style="text-align:center;vertical-align:middle;width:5%">
        <input type="hidden" id="quesion-index-@guid" name="questionDetail[0].Answers[@order].AnswerIndex" class="question-order" value="@order" />
        <input type="hidden" class="question-id" name="questionDetail[0].Answers[@order].AnswerId" value="@guid"  />
        @(order + 1)

    </td>
    <td>
        <textarea id="answer-content-@guid" name="questionDetail[0].Answers[@order].AnswerContent" class="thihay-textarea"></textarea>
    </td>
</tr>