﻿@model IEnumerable<SelectListItem>

@Html.DropDownList("questionType", Model, "--Chọn Kiểu Câu Hỏi--", new { @class = "form-control question-type-dropdown-list" })
<script type="text/javascript">
    $(".question-type-dropdown-list").on("change", function () {
        var questionType = $('.question-type-dropdown-list :selected').val();
        if (questionType) {
            getAnswerEditor(questionType);
        }
    });
</script>