﻿<li>
    <a class="front-pointer" asp-controller="Home" asp-action="ChangePassword"><span><i class="fa fa-sign-out"></i>Đổi Mật Khẩu</span></a>
</li>
<li>
    <a class="front-pointer"  asp-controller="Home" asp-action="Logout"><span><i class="fa fa-sign-out"></i>Thoát</span></a>
</li>