﻿@model Thihay.API.Client.Models.Answer

@{
    var alphabet = new string[] { "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z" };

    var guid = Guid.NewGuid();
}
<tr>
    <td class="answer-text">
        <input name="questionDetail[@Model.QuestionOrder].Answers[@Model.AnswerIndex].IsCorrectAnswer" class="isCorrectAnswers" type="hidden" value="@(Model.IsCorrectAnswer ? "true" : "false")">
        <input type="checkbox" class="answer-checked" checked="@Model.IsCorrectAnswer">
        @alphabet[Model.AnswerIndex]
        <input type="hidden" value="@Model.AnswerIndex" class="answer-index" />
    </td>
    <td style="width: 80%">
        <textarea id="@guid" class="thihay-textarea" name="questionDetail[@Model.QuestionOrder].Answers[@Model.AnswerIndex].AnswerContent">@Html.Raw(Model.AnswerContent)</textarea>
    </td>
</tr>