﻿@model Thihay.API.Client.Models.Question

@{
    ViewData["Title"] = "GetQuestionDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int questionType = (int)Model.QuestionType == 0 ? (int)Thihay.API.Client.QuestionType.MultipleChoice : (int)Model.QuestionType;

    bool isStay = (bool)ViewBag.IsStay;
    bool isCreateNew = (bool)ViewBag.IsCreateNew;
}

<h2>Cập Nhật Câu Hỏi</h2>

<form asp-action="Update" method="post">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="col-md-2 control-label">Loại Câu Hỏi</label>
            <div class="col-md-10">
                @await Component.InvokeAsync("QuestionTypeDropdown", new { questionType = (Thihay.API.Client.QuestionType)questionType })
                <span asp-validation-for="QuestionType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Lớp</label>
            <div class="col-md-10">
                @await Component.InvokeAsync("ClassDropdown", new { classId = Model.ClassId })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Môn Học</label>
            <div class="col-md-10">
                @await Component.InvokeAsync("SubjectDropdown", new { subjectId = Model.SubjectId })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Chuyên Đề</label>
            <div class="col-md-10 topic-dropdown">
                @await Component.InvokeAsync("TopicDropdown", new { classId = Model.ClassId, subjectId = Model.SubjectId, topicId = Model.TopicId })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Kỹ Năng</label>
            <div class="col-md-10 unit-dropdown">
                @await Component.InvokeAsync("UnitDropdown", new { classId = Model.ClassId, subjectId = Model.SubjectId, topicId = Model.TopicId, unitId = Model.UnitId })
                <span asp-validation-for="UnitId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Câu Hỏi</label>
            <div class="col-md-10">
                <textarea asp-for="QuestionContent" class="thihay-textarea"></textarea>
                <span asp-validation-for="QuestionContent" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Hướng Dẫn</label>
            <div class="col-md-10">
                <textarea asp-for="QuestionExplanation" class="thihay-textarea"></textarea>
                <span asp-validation-for="QuestionExplanation" class="text-danger"></span>
            </div>
        </div>
        @if (isCreateNew)
        {
            <div class="form-group">
            <label class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input name="isStay" class="isStay" type="hidden" value="@(isStay ? "true" : "false")">
                <input type="checkbox" class="isStay-checked" name="isStay" checked="@isStay">
                Vẫn ở Màn hình này
            </div>
        </div>
        }
        <div class="question-answer">
            @await Component.InvokeAsync("QuestionAnswer", new { questionType = (Thihay.API.Client.QuestionType)questionType, questionAnswer = Model.QuestionDetail })
        </div>

        
        <div class="form-group">
            <div class="col-md-10">
                <input asp-for="Id" class="form-control" type="hidden" id="question-id" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-default">Quay về danh sách</a>
</div>

<script type="text/javascript">
   
</script>