﻿@model IEnumerable<Thihay.API.Client.Models.Question>

@{
    ViewData["Title"] = "Câu hỏi";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int page = 1;
    if (ViewBag.Page != null)
    {
        page = (int)ViewBag.Page;
    }
    int totalPage = 1;
    if (ViewBag.TotalPage != null)
    {
        totalPage = (int)ViewBag.TotalPage;
    }

    int firstPaging = page - 2;
    int lastPaging = page + 2;
    firstPaging = firstPaging <= 0 ? 1 : firstPaging;
    lastPaging = lastPaging - firstPaging < 5 ? firstPaging + 4 : lastPaging;
    lastPaging = lastPaging >= totalPage ? totalPage : lastPaging;
    int? classId = (int?)ViewBag.ClassId;
    int? subjectId = (int?)ViewBag.SubjectId;
    int? unitId = (int?)ViewBag.UnitId;
    int? topicId = (int?)ViewBag.TopicId;
}

<h2>Quản Lý Câu Hỏi</h2>

<p>
    <a asp-action="detail" class="btn btn-default">Thêm Câu Hỏi Mới</a>
</p>
<form asp-action="Index" method="get" id="question-list-form">
    <div class="form-group">
        <label class="col-md-2 control-label">Search Key</label>
        <div class="col-md-4">
            <input type="text" name="searchKey" value="@ViewBag.Search" class="form-control" />
        </div>
        <div class="col-md-2">
            @await Component.InvokeAsync("ClassDropdown", new { classId = classId })
        </div>
        <div class="col-md-2">
            @await Component.InvokeAsync("SubjectDropdown", new { subjectId = subjectId })
        </div>
        <div class="col-md-2 topic-dropdown">
            @await Component.InvokeAsync("TopicDropdown", new { classId = classId, subjectId = subjectId, topicId = topicId })
        </div>
        <div class="col-md-2 unit-dropdown">
            @await Component.InvokeAsync("UnitDropdown", new { classId = classId, subjectId = subjectId, topicId = topicId, unitId = unitId })
        </div>
        <div class="col-md-2">
            @await Component.InvokeAsync("QuestionTypeDropdown")
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Search" class="btn btn-default search" />
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Kỹ Năng</th>
                <th>Kiểu Câu hỏi</th>
                <th style="width: 70%;">Nội Dung</th>
                <th>Hướng Dẫn</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.Raw(item.UnitName)
                        </td>
                        <td>
                            @Html.Raw(item.QuestionType.ToString())
                        </td>
                        <td>
                            @Html.Raw(item.QuestionContent)
                        </td>
                        <td>
                            @Html.Raw(item.QuestionExplanation)
                        </td>
                        <td>
                            @if (item.IsDeleted == false)
                            {
                                @:Active
                            }
                            else
                            {
                                @:Inactive
                            }
                        </td>
                        <td>
                            @if (item.IsDeleted == false)
                            {
                                <input type="button" class="btn btn-default change-class-status" value="Inactive" onclick="changeQuestionStaus(@item.Id,'@item.IsDeleted')" />
                                @Html.ActionLink("Sửa", "detail", "question", new { questionId = item.Id }, new { @class = "btn btn-default" })
                            }
                            else
                            {
                                <input type="button" class="btn btn-default change-class-status" value="Active" onclick="changeQuestionStaus(@item.Id, '@item.IsDeleted')" />
                            }
                           
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="4">
                            @await Component.InvokeAsync("ViewQuestionDetail", new { questionType = item.QuestionType, questionAnswer = item.QuestionDetail })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @if (totalPage > 1)
    {
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @if (firstPaging > 1)
                {
                    <li>
                        <a href="#" aria-label="Previous" onclick="moveToPreviousPage(@page, 'question-list-form')">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }
                @for (int i = firstPaging; i <= lastPaging; i++)
                {
                    var cssClass = "";
                    if (i == page)
                    {
                        cssClass = "active";
                    }
                    <li class="@cssClass"><a href="#" onclick="moveToPage(@i, 'question-list-form')">@i</a></li>
                }
                @if (lastPaging < totalPage)
                {
                    <li>
                        <a href="#" aria-label="Next" onclick="moveToNextPage(@page, 'question-list-form')">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    }
    <input type="hidden" name="page" value="@page" class="page-to-move" />
</form>
<form asp-action="ChangeStatus" method="post" id="change-question-status-form">
    <input type="hidden" id="question-id-status" name="questionId" />
    <input type="hidden" id="question-status" name="isDelete" />
</form>