﻿@model IEnumerable<SelectListItem>

@Html.DropDownList("classId", Model, "--Chọn Lớp Học--", new { @class = "form-control class-dropdown-list" })
<script type="text/javascript">
    $(".class-dropdown-list").on("change", function () {
        var classId = $('.class-dropdown-list :selected').val();
        var subjectId = $('.subject-dropdown-list :selected').val();
        if (classId) {
            getTopicDropdownList(classId, subjectId);
            getUnitDropdownList(classId, subjectId);
        }
    });
</script>