﻿@model IEnumerable<SelectListItem>
@if (Model != null)
{
    @Html.DropDownList("topicId", Model, "--Chọn Chuyên Đề--", new { @class = "form-control topic-dropdown-list" })
}
<script type="text/javascript">
    $(".topic-dropdown-list").on("change", function () {
        var classId = $('.class-dropdown-list :selected').val();
        var subjectId = $('.subject-dropdown-list :selected').val();
        var topicId = $(".topic-dropdown-list :selected").val();
        if (topicId) {
            getUnitDropdownList(classId, subjectId, topicId);
        }
    });
</script>