﻿@model IList<Thihay.API.Client.Models.QuestionDetail>
@{
    var questionType = (Thihay.API.Client.QuestionType)ViewBag.QuestionType;
    var questions = Model.OrderBy(q => q.Order).ToArray();
}
<table class="table">
    <thead>
        <tr>
            <th>Thứ Tự</th>
            <th>Đáp Án</th>
        </tr>
    </thead>
    <tbody class="question-body">
        @if (Model != null && Model.Count() > 0)
        {
            for (int q = 0; q < questions.Count(); q++)
            {
                var item = Model[q];
                <tr id="tr-question-@item.QuestionDetailId" class="tr-question">
                    <td style="text-align:center;vertical-align:middle">
                        <input type="hidden" id="quesion-index-@item.QuestionDetailId" name="questionDetail[@q].Order" class="question-order" value="@q" />
                        <input type="hidden" class="question-id" name="questionDetail[@q].QuestionDetailId" value="@item.QuestionDetailId" />
                        <input type="hidden" class="question-detail-content" name="questionDetail[@q].QuestionDetailContent" value="{}" />
                        @(q + 1)
                    </td>
                    <td>
                        <table style="width:100%">
                            <tbody class="answer-detail">
                                @for (int i = 0; i < item.Answers.Count; i++)
                                {
                                    var answer = item.Answers[i];
                                    @await Component.InvokeAsync("MultipleChoiceAnswer", new { questionOrder = q, index = i, isCorrectAnswer = answer.IsCorrectAnswer, answerContent = answer.AnswerContent })
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2" style="text-align:center">
                                        <a class="answer-buttion" onclick="addMultipleChoiceAnswers(this, @q)">+</a>
                                        <a class="answer-buttion" onclick="removeRow(this)">-</a>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2" style="text-align:center">
                <a class="answer-buttion" onclick="fetchClozeTestQuestion()">+</a>
            </td>
        </tr>
    </tfoot>

</table>