﻿@model IList<Thihay.API.Client.Models.Answer>

@{
    var answers = Model == null ? null : Model.OrderBy(q => q.AnswerIndex).ToArray();
    //var isMath = ViewBag.IsMath != null ? (bool)ViewBag.IsMath : false;
}


<table class="table">
    <thead>
        <tr>
            <th>Thứ Tự</th>
            <th>Lựa Chọn</th>
        </tr>
    </thead>
    <tbody class="question-body">
        @if (answers != null)
        {
            for (int q = 0; q < answers.Count(); q++)
            {
                var item = answers[q];

                <tr id="tr-question-@item.AnswerId" class="tr-question">
                    <td style="text-align:center;vertical-align:middle;width:5%">
                        <input type="hidden" id="quesion-index-@item.AnswerId" name="questionDetail[0].Answers[@q].AnswerIndex" class="question-order" value="@q" />
                        <input type="hidden" class="question-id" name="questionDetail[0].Answers[@q].AnswerId" value="@item.AnswerId" />
                        @(q + 1)

                    </td>
                    <td>
                        <textarea id="answer-content-@item.AnswerId" name="questionDetail[0].Answers[@q].AnswerContent" class="thihay-textarea">@Html.Raw(item.AnswerContent)</textarea>
                    </td>
                </tr>
            }
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="hidden" value="@Guid.NewGuid()" name="questionDetail[0].QuestionDetailId" />
                <a class="answer-buttion" onclick="addDrapAndDropChoice()">+</a>
                <a class="answer-buttion" onclick="removeDrapAndDropChoice(this)">-</a>
            </td>
        </tr>
    </tfoot>
</table>