﻿<div class="ThQuestion">
    <p>&nbsp;A number of factors related to the voice reveal the personality of the speaker.</p>

    <p>The first is the broad area of communication, which includes imparting information by use of language, communicating with a group or an individual and specialized communication through performance. A person conveys thoughts and ideas through choice of words, by a tone of voice that is pleasant or unpleasant, gentle or harsh, by the rhythm that is inherent within the language itself, and by speech rhythms that are flowing and regular or uneven and hesitant, and finally, by the pitch and melody of the utterance. When speaking before a group, a person&#39;s tone may indicate uncertainty or fright, confidence or calm. At interpersonal levels, the tone may reflect ideas and feelings over and above the words chosen, or may belie them. <strong>Here</strong> the participant&rsquo;s tone can consciously or unconsciously reflect intuitive sympathy or antipathy, lack of concern or interest, fatigue, anxiety, enthusiasm or excitement, all of which are usually discernible by the acute listener. Public performance is a manner of communication that is highly specialized with its own techniques for obtaining effects by voice and /or gesture. The motivation <strong>derived</strong> from the text, and in the case of singing, the music, in combination with the performer&#39;s skills, personality, and ability to create empathy will determine the success of artistic, political, or pedagogic communication.</p>

    <p>&nbsp;&nbsp; Second, the voice gives psychological clues to a person&#39;s self-image, perception of others, and emotional health. Self-image can be indicated by a tone of voice that is confident, pretentious, shy, aggressive, outgoing, or exuberant, to name only a few personality traits. Also the sound may give a clue to the facade or mask of that person, for example, a shy person hiding behind an overconfident front. How a speaker perceives the listener&#39;s receptiveness, interest, or sympathy in any given conversation can <strong>drastically</strong> alter the tone of presentation, by encouraging or discouraging the speaker. Emotional health is <strong>evidenced</strong> in the voice by free and melodic sounds of the happy, by constricted and harsh sound of the angry, and by dull and lethargic qualities of the depressed.</p>
</div><div class="subQues">
    <b style="color:blue">QUESTION 1: </b>What does the passage mainly discuss?
</div>
<table class="subAns">
    <tr class="ThRowA" onclick="tick(this)">
        <td class="checkA"><i class="fa fa-times"></i></td>
        <td name="4" class="rowA">
            The production of speech
        </td>
    </tr>
    <tr class="ThRowA" onclick="tick(this)">
        <td class="checkA"><i class="fa fa-times"></i></td>
        <td name="3" class="rowA">
            The connection between voice and personality
        </td>
    </tr>
    <tr class="ThRowA" onclick="tick(this)">
        <td class="checkA"><i class="fa fa-times"></i></td>
        <td name="1" class="rowA">
            The function of the voice in performance
        </td>
    </tr>
    <tr class="ThRowA" onclick="tick(this)">
        <td class="checkA"><i class="fa fa-times"></i></td>
        <td name="2" class="rowA">
            Communication styles
        </td>
    </tr>
</table><div class="subQues">
    <b style="color:blue">QUESTION 2: </b>What does the author mean by staring that, &quot;At interpersonal levels, tone may reflect ideas and feelings over and above the words chosen&quot; in lines 8- 9?
</div>
<table class="subAns">
    <tr class="ThRowA" onclick="tick1(this)">
        <td class="checkA"><i class="fa fa-times"></i></td>
        <td name="4" class="rowA">
            Feelings are more difficult to express than ideas.
        </td>
    </tr>
    <tr class="ThRowA" onclick="tick1(this)">
        <td class="checkA"><i class="fa fa-times"></i></td>
        <td name="3" class="rowA">
            A high tone of voice reflects an emotional communication.
        </td>
    </tr>
    <tr class="ThRowA" onclick="tick1(this)">
        <td class="checkA"><i class="fa fa-times"></i></td>
        <td name="1" class="rowA">
            Feelings are expressed with different words than ideas are.
        </td>
    </tr>
    <tr class="ThRowA" onclick="tick1(this)">
        <td class="checkA"><i class="fa fa-times"></i></td>
        <td name="2" class="rowA">
            The tone of voice can carry information beyond the meaning of words.
        </td>
    </tr>
</table><a class="btnEn" onclick="Mark(2,0)">Nộp</a>