﻿@model Thihay.API.Client.Models.Answer

@{
    var guid = Guid.NewGuid();
}
<tr>
    <td style="width: 80%">
        <input type="hidden" id="@guid" class="thihay-textarea" name="questionDetail[@Model.QuestionOrder].Answers[@Model.AnswerIndex].AnswerContent" value="Model.AnswerContent" />
        <span>@Html.Raw(Model.AnswerContent)</span>
    </td>
    <td class="answer-text">
        <input name="questionDetail[@Model.QuestionOrder].Answers[@Model.AnswerIndex].IsCorrectAnswer" class="isCorrectAnswers" type="hidden" value="@(Model.IsCorrectAnswer ? "true" : "false")">
        <input type="checkbox" class="answer-checked" checked="@Model.IsCorrectAnswer">
        @Model.AnswerIndex
        <input type="hidden" value="@Model.AnswerIndex" class="answer-index" name="questionDetail[@Model.QuestionOrder].Answers[@Model.AnswerIndex].AnswerIndex" />
    </td>
</tr>