﻿@model IEnumerable<Thihay.User.ViewModel.ClassTopicViewModel>

<div class="handle sp">
    <a href="#" data-accordion="true" data-parent="col-270" data-target="block-14" title="English Menu"><span>Danh Sách Lớp Học</span></a>
</div>
<nav class="block-14">
    <ul>
        @if (Model != null)
        {
            foreach (var classDto in Model)
            {
                <li>
                    <a class="pointer @(classDto.IsActive?"active":"")" asp-route="topic" asp-route-subjectId="@classDto.SubjectId" asp-route-classId="@classDto.ClassId" title=""><span class="code">@classDto.ClassId</span><span class="text">@classDto.ClassName</span></a>
                </li>
            }
        }
    </ul>
</nav>