﻿.front-alert{font-weight: 500;font-family:arial,tahoma; font-size:16px;line-height:20px;}
.front-alert i{color:#68b62a;float: left;margin-right:20px;margin-top: -17px;}
.front-pointer{cursor:pointer}
.block-10 .front-col-290{width:33.33333%}
/*---------------css play---------------------*/
.btnEn{display:none;background-color: #21759B; background-image: linear-gradient(to bottom, #2A95C5, #21759B); box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset; border-color: #21759B #21759B #1E6A8D #21759B; border-style: solid; border-width: 1px; border-radius: 3px 3px 3px 3px; padding: 4px 15px 4px 15px; margin: 2px 4px; color: #FFFFFF; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); text-decoration: none; cursor: pointer; white-space: nowrap;}.btnEn:hover, .btnEn:focus{background-color: #278AB7; background-image: linear-gradient(to bottom,#2E9FD2,#21759B); border-color: #1B607F; box-shadow: 0 1px 0 rgba(120,200,230,0.6) inset; text-shadow: 0 -1px 0 rgba(0,0,0,0.3)}
input {-webkit-appearance: none; box-shadow: none !important; }
select {-webkit-appearance: none; box-shadow: none !important; }
:-webkit-autofill { color: #fff !important; }
#List{-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;border:1px solid rgba(0,0,0,.2);padding:20px;margin:10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;-ms-border-radius: 10px; -o-border-radius: 10px;border-radius: 10px;position:relative;}
#List h2{text-align:center;}
#List a{background-color:#8DB420;-moz-border-radius: 2px;-webkit-border-radius: 2px;-ms-border-radius: 2px; -o-border-radius: 2px;border-radius: 2px;margin:10px;text-align:center;position:relative;cursor:pointer;padding:10px;}
.roundedOne{display:none;}
.subAns {border-collapse:separate;border-spacing:0px 25px;margin-left:30px;}
.subAns tr{border-collapse:collapse;border:#beedfd solid 2px;font-family:'Times New Roman';font-size:18px;border-radius:7px;vertical-align:top;padding:5px 10px;}
.subAns tr td{ padding:10px;border:#beedfd solid 2px;}
.subAns tr:hover{cursor:pointer;}
.checkA {color: white;background-color: #beedfd;}
.subAns .select{cursor:pointer;background-color:#beedfd}
.subAns .select .checkA{background-color:#2C71DB}
.subAns .select td{border:#2C71DB solid 2px;}
.Thblank{background: transparent;border: none;border-bottom: 1px dashed #83A4C5;width: 79px;outline: none;padding: 0px 0px 0px 0px;cursor:pointer;font-family:arial,tahoma; font-size:16px;color:#B81062; text-align:center}
.Thblank:focus{border-bottom: 1px dashed #D24E8B;}
.ThSelect{background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>"); background-repeat:no-repeat; background-position: right 10px top 10px; background-size: 16px 16px; color:white; padding:6px; width:auto; font-family:arial,tahoma; font-size:16px; font-weight:bold; color:#fff; text-align:center; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25); border-radius:3px; -webkit-border-radius:3px; -webkit-appearance: none; border:0; outline:0; -webkit-transition:0.3s ease all; -moz-transition:0.3s ease all; -ms-transition:0.3s ease all; -o-transition:0.3s ease all; transition:0.3s ease all;background-color:#209C87;padding-right: 40px;}#ThSelect:hover{background-color:#2980B9;}ThSelect:focus, ThSelect:active{border:0; outline:0;}
.ThQuestion{ font-family:arial,tahoma; font-size:16px;margin-bottom: 30px;line-height:200%;text-align:justify}
.ThPass5 p{line-height:40px;}
.ThPass5{font-family:arial,tahoma; font-size:16px;}
.ThPassage {font-family:arial,tahoma; font-size:16px;}
.subQues{font-family:arial,tahoma; font-size:16px;}
u.tooltip{outline: none;cursor:pointer}u.tooltip:hover{text-decoration: none;}u.tooltip span.tt{z-index: 1000; display: none; padding: 14px 20px; margin-top: 36px; margin-left: -70px; width: 230px; line-height: 16px;}u.tooltip:hover span.tt{display: inline; position: absolute; color: #111; border: 1px solid #DCA; background: #fffAF0;}u.tooltip:hover{background-color:#8DB420}
.subAns .ThRed .checkA{background-color:rgb(234, 67, 53)}
.subAns .ThRed td{border:rgb(234, 67, 53) solid 2px;}
.subAns .ThOrange .checkA{background-color:#FFDC00}
.subAns .ThOrange td{border:#FFDC00 solid 2px;}
#Thematic{width:80%;margin:0px auto;text-align:justify}
.no-close .ui-dialog-titlebar-close {display: none;}
#dialog{z-index: 100;display: none;position: fixed;margin: auto;top: 0;right:35%;bottom: 0;height: 100px;width: 30%;background-color: #fff;border-radius: 12px;color: white;overflow: hidden;}
#dialog .label-dialog{float: left; height: 100px; width: 100px; background-color: white; text-align: center; vertical-align: top;}
#dialog .body-dialog{float: left; height: 100px; line-height: 100px; width: 350px;}
#dialog .body-dialog p{display: inline-block; text-align: center; padding: 10px; font-family:'Times New Roman';font-size:40px; color: #00adef; vertical-align: middle;}
#dialog .body-dialog p span { font-weight: 700; }
#dialog .label-dialog i{line-height: 100px;font-size: 60px;color: #00adef;}
.overlay {background-color: rgba(0,0,0,.25);bottom: 0;justify-content: center;left: 0;position: fixed;top: 0;width: 100%;z-index : 9;}
#SourceDD,#Middle,#TargetDD{float:left;width:25%;text-align:center}
#Middle{width:40%;}
.LeftDD,.MiddleDD ,.RightDD{margin-top:20px;display:table;width:100%}
.MiddleDD{margin-left:20px;cursor:pointer;}
.RightDD{cursor:pointer}
.LeftDD{border:2px solid #242dd8;border-right-width:20px;}
.RExist{border:2px solid #fa2012;border-left-width:20px;height:120px;}
.Exist{border:2px solid #242dd8;border-left-width:20px;height:120px;}
.LeftDD p,.MiddleDD p,.RightDD p{display:table-cell;vertical-align: middle;font-family:arial,tahoma; font-size:16px;}
.noneDD{height:124px;}
.LeftDD{height:120px;}
#ThematicContent{height:auto; display: block;overflow: auto;}
.btnDD{float:left;width:100%;margin-top:25px;}
#ThOrder{text-align:center;float:left;width:48%}
.rowOrder{background-color: #87e4ff;border: 1px solid #44cbf2;float:left;margin:1%;padding:3%;border-radius:4px;text-align: center;cursor: pointer;border-collapse: separate;}
#DesOrder{text-align:center;width:48%;float:left;margin-left:4%;}
.OrderIncorrect{border-color:#fa2012;background-color:white}
.OrderIncorrect p{background-color:#fa2012}
.ThRow8{float:left;padding:10px;margin-right: 30px;cursor:pointer;font-family:arial,tahoma; font-size:16px;font-weight:700;background-color:#beedfd;cursor:pointer;border-radius:9px;}
.ThType8{overflow:auto;padding:10px 20px;}
.blank8{width:8%;padding:4px 30px;transition:100ms ease-in;border-radius: 3px;cursor:pointer;text-align:center;margin:0px 6px;outline:none;border: solid 1px #009aef;box-shadow:0 0 2px rgba(6,185,247,0.65),0 3px 0 rgba(5,166,222,.07) inset;background:transparent;}
.Th-Source-9{overflow:auto;}
.Th-Row-9{float:left;padding:10px;margin-right: 30px;cursor:pointer;font-family:arial,tahoma; font-size:16px;font-weight:700;background-color:rgb(0, 154, 239);color:#fff;cursor:pointer;border-radius:5px;margin-bottom:10px;}
.Th-Target-9{width:90%;margin-top:50px;}
.Th-Target-9 .thead{font-family:arial,tahoma; font-size:20px;font-weight:700;text-align:center}
.Th-Target-9 .thead{background-color:#67b529;color:white;padding:10px;}
.head-9{padding:15px;border: 2px solid #61cffa;border-bottom: white;}
.Td-Drog-9{height:200px;background-color:rgba(245, 245, 245, 0.37);border: 2px solid #61cffa;border-top: white;}
.Th-Target-9 td{padding:2%;}
.incorrect{background-color:#f67f7f}
.Th-selected{background-color:#e63434 !important;color:white;}
.p-type-10{margin-right:10px;margin-top:30px;cursor:pointer;padding:3px;}
.check-10{text-decoration: underline;}
.corr-10{background-color:#beedfd}
.uncorr-10{background-color:rgb(234, 67, 53);color:white;}
.checked-10{background-color:#242dd8;color:white}
.exams{line-height:30px;text-align:justify;}