<div class="col col-180">
    <div class="block-20">
        <div class="answer"><span>Số câu đã trả lời</span></div>
        <div class="reply" id="count-180">0</div>
        <div class="elapsed">Thời gian làm bài</div>
        <div class="status">
            <div class="pause" style="display:none;">PAUSE</div>
            <div class="row">
                <div class="col">
                    <div class="time">
                        <div class="inner">
                            <div class="wrap">
                                <div class="number" id="hours">00</div>
                            </div>
                        </div>
                    </div>
                    <div class="text">Giờ</div>
                </div>
                <div class="col">
                    <div class="time">
                        <div class="inner">
                            <div class="wrap">
                                <div class="number" id="minutes">00</div>
                            </div>
                        </div>
                    </div>
                    <div class="text">Phút</div>
                </div>
                <div class="col">
                    <div class="time">
                        <div class="inner">
                            <div class="wrap">
                                <div class="number" id="seconds">00</div>
                            </div>
                        </div>
                    </div>
                    <div class="text">Giây</div>
                </div>
            </div>
        </div>
    </div>
</div>