<div class="col col-270">
    <div class="handle sp">
        <a href="#" data-accordion="true" data-parent="col-270" data-target="block-14" title="Math Menu"><span>Toán</span></a>
    </div>
    <nav class="block-14">
        <ul>
            <li>
                <a href="/Toan.aspx?G=1" title=""><span class="code">1</span><span class="text">Toán 1</span></a>
            </li>
            <li>
                <a href="/Toan.aspx?G=2" title=""><span class="code">2</span><span class="text">Toán 2</span></a>
            </li>
            <li>
                <a href="/Toan.aspx?G=3" title=""><span class="code">3</span><span class="text">Toán 3</span></a>
            </li>
            <li>
                <a href="/Toan.aspx?G=4" title=""><span class="code">4</span><span class="text">Toán 4</span></a>
            </li>
            <li>
                <a href="/Toan.aspx?G=5" title=""><span class="code">5</span><span class="text">Toán 5</span></a>
            </li>
            <li>
                <a href="/Toan.aspx?G=6" title=""><span class="code">6</span><span class="text">Toán 6</span></a>
            </li>
            <li>
                <a href="/Toan.aspx?G=7" title=""><span class="code">7</span><span class="text">Toán 7</span></a>
            </li>
            <li>
                <a href="/Toan.aspx?G=8" title=""><span class="code">8</span><span class="text">Toán 8</span></a>
            </li>
            <li>
                <a href="/Toan.aspx?G=9" title=""><span class="code">9</span><span class="text">Toán 9</span></a>
            </li>
            <li>
                <a href="/Toan.aspx?G=10" title=""><span class="code">10</span><span class="text">Toán 10</span></a>
            </li>
            <li>
                <a href="/Toan.aspx?G=11" title=""><span class="code">11</span><span class="text">Toán 11</span></a>
            </li>
            <li>
                <a href="/Toan.aspx?G=12" title=""><span class="code">12</span><span class="text">Toán 12</span></a>
            </li>
        </ul>
    </nav>
</div>

