@model IEnumerable<Thihay.Common.ImgFile>

<div id="toolbar_view" class="view">
    <div class="cke_toolbox cke_compatibility" role="toolbar" aria-labelledby="cke_7">
        <span id="cke_7" class="cke_voice_label"></span>
        <span id="cke_8" class="cke_toolbar" role="presentation">
            <span class="cke_toolbar_start"></span>
            <span class="cke_toolgroup">
                <span class="cke_button">
                    <a id="cke_9" class="cke_off cke_button_upload" href="#" onclick="showUpload()" title="Upload" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_9_label">
                        <span class="cke_icon"></span>
                        <span id="cke_9_label" class="cke_label">Upload</span>
                    </a>
                </span>

                @*<span class="cke_button">
                    <a id="cke_9" class="cke_off cke_button_upload" href="#" onclick="newFolder()" title="New Subfolder" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_9_label">
                        <span class="cke_icon"></span>
                        <span id="cke_9_label" class="cke_label">New Folder</span>
                    </a>
                </span>

                <span class="cke_button">
                    <a id="cke_9" class="cke_off cke_button_upload" href="#" onclick="renameFolder()" title="Rename Folder" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_9_label">
                        <span class="cke_icon"></span>
                        <span id="cke_9_label" class="cke_label">Rename Folder</span>
                    </a>
                </span>*@

            </span>
            <span class="cke_toolbar_end"></span>
        </span>
    </div>
</div>
<div id="panel_view" class="view" role="region" aria-live="polite" style="display: none;">
    <div id="panel_widget" class="panel_widget widget" tabindex="-1">
        <div id="ckf_upload_form">
            <div class="ckf_upload_info" id="ckf_globalUploads">
                <div class="ckf_progress_wrapper">
                    <div class="ckf_progress_info">
                            @*<span></span>
                            <span></span>
                            <div class="ckf_progress_bar_container">
                                <div>

                                </div>
                            </div>
                            <span class="ckf_status">
                            </span>
                            <span class="ckf_speed"></span>*@
                        <div id="progressNumber"></div>
                        </div>
                    <div id="input-file">
                        <input style="width:100%" id="cke_2791_fileInput_input" aria-labelledby="cke_2790_label" type="file" name="upload" size="38" accept=".png,.jpg" onchange="fileSelected();">
                        <input type="hidden" id="current-folder-path" value="@ViewBag.CurrentFolder" size="38">
                        <div id="fileName"></div>
                        <div id="fileSize"></div>
                        <div id="fileType"></div>
                    </div>
                    
                    
                </div>
                <div class="ckf_uploadButtons">
                    <a class="cke_dialog_ui_button" href="#" onclick="uploadFile()">
                        <span class="cke_dialog_ui_button" id="ckf_addFiles">Add Files</span>
                    </a>
                    <br>
                    <a class="cke_dialog_ui_button cke_dialog_ui_button_ok" href="#" id="ckf_cancelUpload" onclick="hideUpload()">
                        <span class="cke_dialog_ui_button">Close</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="files_view" class="view widget files_thumbnails" aria-live="polite" role="main" tabindex="0" aria-controls="status_view" style="height: 452px;">
    <h4 class="message_content">Loading...</h4>
    <div class="files_content_list files_thumbnails fake no_list" role="list">
        @foreach (var file in Model)
        {
            var id = Guid.NewGuid();
            
            <a id="@id" class="file_entry" tabindex="-1" href="#" title="@file.FileName" aria-labelledby="@(id)_label" aria-describedby="@(id)_details" style="width: 110px" ondblclick="selectImg('@file.FilePath')">
                <div class="image">
                    <div role="img" style="width: 100px; height: 100px; background-image: url('@file.FilePath');">
                    </div>
                </div>
                <h5 id="@(id)_label">@file.FileName</h5>
                @*<span id="r0_details" class="details">
                        <span role="listitem" class="extra">8/10/2016 9:51 AM</span>
                        <span role="listitem" aria-label="Size">111 KB</span>
                    </span>*@
            </a>
        }
        
    </div>
</div>
<div id="status_view" class="view" role="status">
    <p>@Model.Count() files</p>
</div>