﻿@model IEnumerable<Thihay.API.Client.Models.Class>
@{
    int subjectId = (int)ViewBag.SubjectId;
}

<div class="handle sp">
    <a href="#" data-accordion="true" data-parent="col-270" data-target="block-14" title="Danh Sách Lớp Học"><span>Danh Sách Lớp Học</span></a>
</div>
<nav class="block-14">
    <ul>
        <li>
            <a href="/English.aspx?G=1" title=""><span class="code">1</span><span class="text">English 1</span></a>
        </li>
        <li>
            <a href="/English.aspx?G=2" title=""><span class="code">2</span><span class="text">English 2</span></a>
        </li>
        <li>
            <a href="/English.aspx?G=3" title=""><span class="code">3</span><span class="text">English 3</span></a>
        </li>
        <li>
            <a href="/English.aspx?G=4" title=""><span class="code">4</span><span class="text">English 4</span></a>
        </li>
        <li>
            <a href="/English.aspx?G=5" title=""><span class="code">5</span><span class="text">English 5</span></a>
        </li>
        <li>
            <a href="/English.aspx?G=6" title=""><span class="code">6</span><span class="text">English 6</span></a>
        </li>
        <li>
            <a href=x` "/English.aspx?G=7" title=""><span class="code">7</span><span class="text">English 7</span></a>
        </li>
        <li>
            <a href="/English.aspx?G=8" title=""><span class="code">8</span><span class="text">English 8</span></a>
        </li>
        <li>
            <a href="/English.aspx?G=9" title=""><span class="code">9</span><span class="text">English 9</span></a>
        </li>
        <li>
            <a href="/English.aspx?G=10" title=""><span class="code">10</span><span class="text">English 10</span></a>
        </li>
        <li>
            <a href="/English.aspx?G=11" title=""><span class="code">11</span><span class="text">English 11</span></a>
        </li>
        <li>
            <a href="/English.aspx?G=12" title=""><span class="code">12</span><span class="text">English 12</span></a>
        </li>
    </ul>
</nav>