@model Thihay.User.ViewModel.ClassTopicViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="box-violympic-09">
    <div class="container">
        @if (Model != null)
        {
            <div class="row">
                <div class="col col-270">
                    @(await Component.InvokeAsync("ClassList", new { subjectId = Model.SubjectId, classId = Model.ClassId }))
                </div>

                <div class="col col-880">

                    <h2 class="title color-01">@Html.Raw(Model.SubjectName) @Html.Raw(Model.ClassName)</h2>
                    <div class="row">
                        @for (int i = 0; i < Model.TopicsGroup.Count; i++)
                        {
                            var topicGroup = Model.TopicsGroup[i];
                            <div class="col">
                                @foreach (var topic in topicGroup.Topics)
                                {
                                    <div class="block-22">
                                        <h3>@Html.Raw(topic.TopicName)</h3>
                                        <ul>
                                            @for (int u = 0; u < topic.Units.Count; u++)
                                            {

                                                var unit = topic.Units[u];
                                                <li>
                                                    <a class="front-pointer tooltipstered" asp-route="practice" asp-route-id="@unit.Id" data-tooltip="true" data-content="" title="">
                                                        <span class="order">@(i + 1).@(u + 1)</span>
                                                        <span class="text">@Html.Raw(unit.NameUnit)</span>
                                                    </a>
                                                </li>

                                            }
                                        </ul>
                                    </div>
                                }
                            </div>

                        }
                    </div>
                </div>
            </div>
        }
    </div>
</section>