@font-face {
	font-family: 'AwesomeCursorTest';
	src:url('fonts/AwesomeCursorTest.eot');
	src:url('fonts/AwesomeCursorTest.eot') format('embedded-opentype'),
		url('fonts/AwesomeCursorTest.woff') format('woff'),
		url('fonts/AwesomeCursorTest.ttf') format('truetype'),
		url('fonts/AwesomeCursorTest.svg#AwesomeCursorTest') format('svg');
	font-weight: normal;
	font-style: normal;
}

.act {
	font-family: 'AwesomeCursorTest';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.act-pencil:before {
	content: "\e600";
}
.act-brush:before {
	content: "\e601";
}