@model IList<Thihay.API.Client.Models.Answer>

@{
    var answers = Model != null ? Model.OrderBy(a => a.AnswerIndex).ToList() : new List<Thihay.API.Client.Models.Answer>();
}

<table class="sub-table" style="width: 100%;">
    <tr>
        @foreach (var answer in answers)
        {
            <td style="text-align: center;">@(answer.AnswerIndex).@Html.Raw(answer.AnswerContent)</td>
        }
    </tr>
</table>