﻿@model Thihay.Common.ThihayUser

<div class="user">    
        <div class="row">
            <div class="col">
                <a href="" title="">
                    <img src="~/asset/img/avatar.jpg" width="180" height="180" alt="Avatar" />
                </a>
            </div>
            <div class="col">
                <ul class="nav-user">
                    <li>
                        <a class="front-pointer">@Model.FullName</a>
                        <ul>
                            <li>
                                <a asp-route="information" title=""><span>Thông tin tài khoản</span></a>
                            </li>
                            @*<li>
        <a asp-route="vipinfo" title=""><span>Thông tin VIP</span></a>
    </li>*@
                            <li>
                                <a asp-route="profile" title=""><span>Học bạ</span></a>
                            </li>
                            <li>
                                <a asp-route="changepassword" title=""><span>Đổi mật khẩu</span></a>
                            </li>
                            <li>
                                <a class="front-pointer" asp-route="logout"><span><i class="fa fa-sign-out"></i>Thoát</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
                @*<div class="info">VIP đến: @Model.VipDayLeft ngày</div>*@
            </div>
        </div>
</div>