﻿@*<div class="col">

    <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true" onlogin="checkLoginState();"></div>
    <div class="g-signin2" data-width="182px" data-height="28px" data-longtitle="true">
    </div>
</div>*@
<div class="col">
    <form asp-route="loginpost" method="post">
        <div class="row">
            <div class="col">
                <div class="line">
                    <input type="text" placeholder="Tài khoản" name="username" class="form-control" />
                </div>
            </div>
            <div class="col">
                <div class="line">
                    <input type="password" placeholder="Mật khẩu" name="password" class="form-control" />
                </div>
                <div class="register">
                    <a asp-route="register" title="Đăng ký tài khoản?">Đăng ký tài khoản?</a>
                </div>
                <!-- <div class="line">
                    <a href="" title="Quên mật khẩu?">Quên mật khẩu?</a>
                </div> -->
            </div>
            <div class="col">
                <div class="line">
                    <button type="submit" class="btn-login">Đăng nhập</button>
                </div>
            </div>
        </div>
    </form>
</div>