﻿<section class="box-violympic-04">
    <div class="container">
        <div class="title">
            <h2>Phản Hồi Của Phụ Huynh - Học Sinh</h2>
            <p>Hơn 10,000 học sinh đang sử dụng NewSchool mỗi ngày</p>
        </div>
        <div class="comments">
            <ul id="slider-comment">
                <li>
                    <div class="content">
                        <div class="comment">
                            Em khá là hài lòng với newschool. Em có thể tự học tại nhà, bổ sung thêm kiến thức cho bản thân. Em sẽ chia sẻ với bạn bè cùng lớp.
                        </div>
                        <div class="customer">Học sinh: Phạm Thành Đạt</div>
                        <div class="address">học sinh lớp 5 trường tiểu học Duyên Hà</div>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <div class="comment">
                            Em cảm ơn vì newschool đã cho nhiều kiến thức hay và nó giúp em đạt được kết quả học tập tốt hơn.
                        </div>
                        <div class="customer">Học sinh: Phạm Hải Yến</div>
                        <div class="address">học sinh lớp 4 trường tiểu học Tân Định</div>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <div class="comment">
                            Sau một thời gian theo dõi con tự học mình thấy be chăm chỉ và tự giác học tập hơn. Đề bài cũng đa dạng phong phú và lời giải đầy đủ tôi cũng có thể tự xem và hướng dẫn con học. Cảm ơn newschool rất nhiều ạ!
                        </div>
                        <div class="customer">Vũ Thị Hồng</div>
                        <div class="address">Gia Lai</div>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <div class="comment">
                            Rất hài lòng với newschool, phần học bạ rất hay có thể theo dõi tiến độ học tập của các con.
                        </div>
                        <div class="customer">Phụ huynh : Cao Mỹ Lệ</div>
                        <div class="address">Đống Đa, Hà Nội</div>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <div class="comment">
                            Là một giáo viên có kinh nghiệm giảng dạy 20 năm tôi thấy những kiến thức của newschool khá chi tiết và đầy đủ phù hợp với mọi đối tượng học sinh, bên cạnh đấy phụ huynh cũng có thể kiểm tra tiến độ học tập của các con.
                        </div>
                        <div class="customer">Thầy: Trần Anh Tuyến</div>
                        <div class="address">Chuyên gia toán tiểu học, trưởng ban nội dung cuộc thi Violympic</div>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <div class="comment">
                            Có rất nhiều website học online nhưng mình thấy newschool thực sự gây ấn tượng với mình bởi tính chuyên nghiệp và nội dung phong phú. Tôi sẽ giới thiệu đến học sinh và phụ huynh của trường tôi.
                        </div>
                        <div class="customer">Cô: Bùi Quỳnh Lan</div>
                        <div class="address">Giáo viên trường tiểu học Trưng Vương</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col col-90">
                <a data-slide="0" data-go="true" href="" title="">
                    <img src="asset/img/data/img-70x70-1.jpg" width="70" height="70" alt="" />
                </a>
            </div>
            <div class="col col-90">
                <a data-slide="1" data-go="true" href="" title="">
                    <img src="asset/img/data/img-70x70-2.jpg" width="70" height="70" alt="" />
                </a>
            </div>
            <div class="col col-90">
                <a data-slide="2" data-go="true" href="" title="">
                    <img src="asset/img/data/img-70x70-3.jpg" width="70" height="70" alt="" />
                </a>
            </div>
            <div class="col col-90">
                <a data-slide="3" data-go="true" href="" title="">
                    <img src="asset/img/data/img-70x70-4.jpg" width="70" height="70" alt="" />
                </a>
            </div>
            <div class="col col-90">
                <a data-slide="4" data-go="true" href="" title="">
                    <img src="asset/img/data/img-70x70-5.jpg" width="70" height="70" alt="" />
                </a>
            </div>
            <div class="col col-90">
                <a data-slide="5" data-go="true" href="" title="">
                    <img src="asset/img/data/img-70x70-6.jpg" width="70" height="70" alt="" />
                </a>
            </div>
        </div>
    </div>
</section>