﻿<section class="box-violympic-01">
    <ul id="slider-banner">
        <li>
            <a href="" title="">
                <img class="pc" src="asset/img/blank.gif" width="1060" height="456" alt="Blank" />
                <img class="hidden" src="~/asset/img/data/img-banner-1.jpg" width="1600" height="456" alt="" />
                <img class="sp" src="~/asset/img/data/baner-mobile.png" width="320" height="180" alt="" />
            </a>
        </li>
        <li>
            <a href="" title="">
                <img class="pc" src="asset/img/blank.gif" width="1060" height="456" alt="Blank" />
                <img class="hidden" src="~/asset/img/data/img-banner-2.jpg" width="1600" height="456" alt="" />
                <img class="sp" src="~/asset/img/data/baner-mobile-2.png" width="320" height="180" alt="" />
            </a>
        </li>
        <li>
            <a href="" title="">
                <img class="pc" src="asset/img/blank.gif" width="1060" height="456" alt="Blank" />
                <img class="hidden" src="~/asset/img/data/img-banner-3.png" width="1600" height="456" alt="" />
                <img class="sp" src="~/asset/img/data/baner-mobile-3.png" width="320" height="180" alt="" />
            </a>
        </li>
        <li>
            <a href="" title="">
                <img class="pc" src="asset/img/blank.gif" width="1060" height="456" alt="Blank" />
                <img class="hidden" src="~/asset/img/data/img-banner-4.png" width="1600" height="456" alt="" />
                <img class="sp" src="~/asset/img/data/baner-mobile-4.png" width="320" height="180" alt="" />
            </a>
        </li>        
    </ul>
    <div class="inner">
        <div class="container">
            <div class="group">
                @*<div class="block-01">
                    <a href="" title="">
                        <img src="asset/img/data/img-ads-1.jpg" width="300" height="250" alt="" />
                    </a>
                </div>*@
                <div class="block-02">
                    <div class="item">
                        <a>
                            <i class="fa fa-phone"></i>
                            <span class="label">TỔNG ĐÀI 24/7</span>
                            <span class="phone"> 1900636111</span>
                        </a>
                    </div>
                    <div class="item">
                        <a>
                            <i class="fa fa-envelope-o"></i>
                            <span class="label">EMAIL CHO CHÚNG TÔI</span>
                            <span class="phone">hotro.newschool.vn@gmail.com</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>