﻿@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Thihay.User.ViewModel.SummaryModel>
@await Html.PartialAsync("_Slide")

<section class="box-violympic-02">
    <div class="container">
        <div class="title">
            <h2>CHUYÊN ĐỀ NEWSCHOOL</h2>
            <p>Hàng trăm chuyên đề phù hợp với từng lớp học</p>
        </div>
        <div class="row" runat="server" id="bind_box">
            @if (Model != null)
            {
                @foreach (var summary in Model)
                {
                    var displayDetail = summary.SubjectSummary.Where(d => d.TotalUnit > 0);
                    <div class="col col-360" style="height: 263px;">
                        <article class="block-03 type-01">
                            <h3 class="head class-style">
                                <a href="#" data-accordion="true" data-target="data" data-parent="block-03">@summary.ClassName</a>
                            </h3>
                            <div class="data">
                                <div class="summary">
                                </div>
                                <div class="skill">
                                    @foreach (var detail in displayDetail)
                                    {
                                        <div class="line">

                                            <div class="cel">@detail.SubjectName</div>
                                            <div class="cel">
                                                <a asp-route="topic" asp-route-subjectId="@detail.SubjectId" asp-route-classId="@summary.ClassId" title="">@detail.TotalUnit kỹ năng</a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </article>
                    </div>
                }
            }
        </div>
    </div>
</section>

@(await Html.PartialAsync("_Review")) 