﻿@model Thihay.API.Client.Models.Unit
@{
    var message = ViewBag.Message != null ? (string)ViewBag.Message : string.Empty;
}
<div id="popup">
    <div id="dialog">
        <div id="icon" class="label-dialog"></div>
        <div class="body-dialog">
            <p class="animated"></p>
        </div>
    </div>
</div>

<section class="box-violympic-10">
    <div class="container">
        <div class="block-11">
            <ul class="nav-tab">
                <li>
                    <a href="#" class="tablinks" title="" onclick="openTab(event, 'practice-tab')" id="defaultOpen">Luyện Tập</a>
                </li>
                <li>
                    <a href="#" class="tablinks" onclick="openTab(event, 'description-tab')">Lý Thuyết</a>
                </li>
            </ul>
        </div>
        @*<div class="tab">
                <button class="tablinks" onclick="openTab(event, 'practice-tab')" id="defaultOpen">Luyện Tập</button>
                <button class="tablinks" onclick="openTab(event, 'description-tab')">Lý Thuyết</button>
            </div>*@
        <div class="row tabcontent" id="practice-tab">
            @if (Model != null)
            {
                <div class="col col-900">
                    <div class="page-header">
                        <h1 id="name-unit" style="font-size: 36px; line-height: 1.25;">@Html.Raw(Model.NameUnit)</h1>
                    </div>
                    <div class="block-19">
                        <div id="play-content">
                            @await Component.InvokeAsync("Question", Model.Id)
                        </div>
                        <div class="handle">
                            <button type="button" id="submit" class="btn-submit">Nộp bài</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="unit-id" value="@Model.Id" />
            }
            <div class="col col-180">
                <div class="block-20">
                    <div class="answer"><span>Số câu đã trả lời</span></div>
                    <div class="reply" id="count-180">0</div>
                    <div class="elapsed">Thời gian làm bài</div>
                    <div class="status">
                        <div class="pause" style="display:none;">PAUSE</div>
                        <div class="row">
                            <div class="col">
                                <div class="time">
                                    <div class="inner">
                                        <div class="wrap">
                                            <div class="number" id="hours">00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">Giờ</div>
                            </div>
                            <div class="col">
                                <div class="time">
                                    <div class="inner">
                                        <div class="wrap">
                                            <div class="number" id="minutes">00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">Phút</div>
                            </div>
                            <div class="col">
                                <div class="time">
                                    <div class="inner">
                                        <div class="wrap">
                                            <div class="number" id="seconds">00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">Giây</div>
                            </div>
                            <input type="hidden" value="0" id="timer-in-second" />
                        </div>
                    </div>
                    <div class="score"><span>Điểm</span></div>
                    <div class="reply" id="info-score">0</div>
                </div>
            </div>
        </div>
        <div class="row tabcontent" id="description-tab">
            <div class="col col-900">
                <div class="page-header">
                    <h1 style="font-size: 36px; line-height: 1.25;">Lý Thuyết</h1>
                </div>
                <div class="block-19">
                    <p>
                        @Html.Raw(Model.DescriptionUnit)
                    </p>

                </div>
            </div>
        </div>
        <div id="getmark" style="display:none;">
        </div>
    </div>
    @await Component.InvokeAsync("Keypad")
    @if (Model == null)
    {
        <script type="text/javascript">
            AlertRedirect("@message", "/login");
        </script>
    }
    else
    {
        <script type="text/javascript">
            document.getElementById("defaultOpen").click();
            TimeUp();
            $("#explanation").hide();
            $(".btn-submit").on("click", function () {
                $("#math-key-pad").css("visibility", "hidden");
                var questionType = $("#question-type").val();
                processQuestion(questionType, function (correctCnt, message) {
                    var unitId = $("#unit-id").val();
                    var questionAnswerd = parseInt($("#count-180").text());
                    questionAnswerd++;
                    $("#count-180").text(questionAnswerd);
                    var score = parseInt($("#info-score").text());
                    score = score + correctCnt;
                    $("#info-score").text(score);
                    AlertNoRedirect(message);
                    $('#play-content').load("/practice/getNextQuestion/" + unitId, function () {
                        $("#explanation").hide();
                        $("#exams").click(function () {
                            if ($(".mq-focused").length) {
                                ID = $(".mq-focused").attr("id");
                                console.log(ID);
                            }
                        });
                    });
                });
                console.log(questionType);

            });
            var ID = "";
            $("#exams").click(function () {
                if ($(".mq-focused").length) {
                    ID = $(".mq-focused").attr("id");
                    console.log(ID);
                }
            });
            $(".key-pad-btn").on("click", function () {
                var val = $(this).find('input').val();
                if (ID != "") {
                    var mathFieldSpan = document.getElementById(ID);
                    var mathField = MQ.MathField(mathFieldSpan, {
                        spaceBehavesLikeTab: true
                    });
                    var curr = mathField.latex();
                    txt = curr + val;
                    mathField.typedText(val);
                }
            });


            function openTab(evt, tablId) {
                // Declare all variables
                var i, tabcontent, tablinks;

                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }

                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(tablId).style.display = "block";
                evt.currentTarget.className += " active";
            }


        </script>

    }
</section>
<style>


</style>