﻿@model IEnumerable<Thihay.Common.Folder>
@{
    Layout = null;
    bool isOpen = true;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quản Lý Hình Ảnh</title>
    <link rel="stylesheet" href="~/css/ckfinderc.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <div id="ckfinder">
        <!-- 1. CKE Skin class. -->
        <div class="fake_wrapper cke_skin_kama">
            <!-- 2. High contrast class. -->
            <div class="fake_wrapper">
                <!-- Applicable: hc cke_hc -->
                <!-- 3. Browser class. -->
                <div class="fake_wrapper browser_webkit">
                    <!-- 4. RTL class. -->
                    <div class="fake_wrapper cke_ltr">
                        <!-- Applicable: rtl cke_rtl -->
                        <!-- 5. Layout class. -->
                        <div class="fake_wrapper">
                            <div id="ckfinder_view" class="columns_2">
                                <!-- Applicable: columns_1 columns_2 -->
                                <div id="sidebar_container" class="container" role="region">
                                    <div id="sidebar_wrapper" class="wrapper">
                                        <div id="folders_view" class="view widget" tabindex="0" style="height: 457px;">
                                            <h2 id="folders_view_label">Folders</h2>
                                            <div class="folder_tree_wrapper wrapper">
                                                <div class="selection" style="height: 17px; top: 0px; display: block;"></div>
                                                <ul class="folder_tree no_list" aria-labelledby="folders_view_label">
                                                    @await Component.InvokeAsync("FolderMenu", new { folderList = Model, tabindex = 0, isRootFolder = true })


                                                    @*<li id="f1" role="presentation" class="closable selected">
                                                            <span role="presentation" class="expander" onclick="void(0)" aria-expanded="true"></span>
                                                            <a tabindex="0" role="treeitem" href="javascript:void(0)" aria-level="2">Images</a>

                                                            <ul>
                                                                <li id="f2" role="presentation" class="openable">
                                                                    <span role="presentation" class="expander" onclick="void(0)"></span>
                                                                    <a tabindex="-1" role="treeitem" href="javascript:void(0)" aria-level="3">IQ</a>
                                                                    <ul></ul>
                                                                </li>
                                                                <li id="f5" role="presentation" class="openable nochildren">
                                                                    <span role="presentation" class="expander"></span>
                                                                    <a tabindex="-1" role="treeitem" href="javascript:void(0)" aria-level="3">lop 112</a>
                                                                    <ul></ul>
                                                                </li>
                                                            </ul>

                                                        </li>*@



                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div id="main_container" class="container" role="region">
                                    @await Component.InvokeAsync("ImageManager", new { url = Model?.FirstOrDefault()?.FullUrl })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cke_compatibility cke_ckfinder1_dialog cke_skin_kama update-folder" dir="ltr" lang="en" style="display:none">
        <table class="cke_dialog cke_browser_webkit cke_ltr cke_single_page" style="position: fixed; top: 195.5px; left: 394px; z-index: 10010;">
            <tbody>
                <tr>
                    <td>
                        <div class="cke_dialog_body">
                            <div id="cke_dialog_title_29" class="cke_dialog_title">rename</div>
                            <div id="cke_dialog_close_button_29" class="cke_dialog_close_button">
                                <span>x</span>
                            </div>
                            <div id="cke_dialog_tabs_29" class="cke_dialog_tabs">
                                <a class="cke_dialog_tab cke_dialog_tab_selected" cke_first="" id="tab1_37" href="javascript:void(0)" hp="true"></a>
                            </div>
                            <table class="cke_dialog_contents">
                                <tbody>
                                    <tr>
                                        <td id="cke_dialog_contents_29" class="cke_dialog_contents" style="width: 270px; height: 60px;">
                                            <div id="36_uielement" class="cke_dialog_ui_vbox cke_dialog_page_contents" style="width: 100%;  height: 100%" name="tab1">
                                                <table cellspacing="0" border="0" style="width:100%;" align="left">
                                                    <tbody>
                                                        <tr>
                                                            <td class="cke_dialog_ui_vbox_child">
                                                                <span id="32_uielement" class="cke_dialog_ui_html">please type the new folder name: </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="cke_dialog_ui_vbox_child">
                                                                <div id="35_uielement" class="cke_dialog_ui_text">
                                                                    <div class="cke_dialog_ui_labeled_label" id="34_label"></div>
                                                                    <div class="cke_dialog_ui_labeled_content">
                                                                        <div class="cke_dialog_ui_input_text">
                                                                            <input class="cke_dialog_ui_input_text" id="33_textinput" type="text">
                                                                            <input type="hidden" class="isNewFolder" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div id="cke_dialog_footer_29" class="cke_dialog_footer">
                                <table id="41_uielement" class="cke_dialog_ui_hbox cke_dialog_footer_buttons">
                                    <tbody>
                                        <tr class="cke_dialog_ui_hbox">
                                            <td class="cke_dialog_ui_hbox_first">
                                                <a style="" href="#" onclick="updateFolder()" title="ok" hp="true" class="cke_dialog_ui_button cke_dialog_ui_button_ok" id="39_uielement">
                                                    <span class="cke_dialog_ui_button">Xác Nhận</span>
                                                </a>
                                            </td>
                                            <td class="cke_dialog_ui_hbox_last">
                                                <a style="" href="#" onclick="cancelFolderPopup()" title="cancel" hp="true" class="cke_dialog_ui_button cke_dialog_ui_button_cancel" id="40_uielement"><span class="cke_dialog_ui_button">Hủy</span></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <style>
            .cke_dialog {
                visibility: hidden;
            }
        </style>
    </div>

    <div style="display:none" id="cke_dialog_background_cover"></div>
    <style>
        #cke_dialog_background_cover {
            position: fixed;
            z-index: 10000;
            top: 0px;
            left: 0px;
            background-color: white;
            width: 1092px;
            height: 537px;
            opacity: 0.5;
        }
    </style>
</body>
</html>
<script type="text/javascript">
    function getUrlParam(paramName) {
        var reParam = new RegExp('(?:[\?&]|&amp;)' + paramName + '=([^&]+)', 'i');
        var match = window.location.search.match(reParam);

        return (match && match.length > 1) ? match[1] : '';
    }

    function selectImg(filePath) {
        var funcNum = getUrlParam('CKEditorFuncNum');
        //var fileUrl = '/path/to/file.txt';
        window.opener.CKEDITOR.tools.callFunction(funcNum, filePath);
    }

    $(".expander").click(function () {
        var li = $(this).parent();
        if ($(li).hasClass("closable")) {
            $(li).removeClass("closable").addClass("openable");

        } else if ($(li).hasClass("openable")) {
            $(li).removeClass("openable").addClass("closable");
        }
    });
    $(".folder-name").click(function () {
        $(".folder_tree").find("li.selected").each(function () {
            $(this).removeClass("selected");

        });
        var selectedli = $(this).parent();
        $(selectedli).addClass("selected");

        if ($(selectedli).hasClass("closable")) {
            $(selectedli).removeClass("closable").addClass("openable");

        } else if ($(selectedli).hasClass("openable")) {
            $(selectedli).removeClass("openable").addClass("closable");

        }

        if ($(selectedli).hasClass("closable") || $(selectedli).hasClass("nochildren")) {

            var folderPath = $(this).data("folder-full-path");
            loadImgFolder(folderPath);
        }

    });

    function loadImgFolder(folderPath) {
        $(".message_content").show();
        $(".files_content_list").hide();
        $("#main_container").load("/uploader/images?folderUrl=" + encodeURIComponent(folderPath), function () {
            $(".message_content").hide();
            $(".files_content_list").show();
        });
    }

    function hideUpload() {
        $("#panel_view").hide();
    }
    function showUpload() {
        $("#panel_view").show();
    }


    function fileSelected() {
        var file = document.getElementById('cke_2791_fileInput_input').files[0];
        if (file) {
            var fileSize = 0;
            if (file.size > 1024 * 1024)
                fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
            else
                fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';

            document.getElementById('fileName').innerHTML = 'Name: ' + file.name;
            document.getElementById('fileSize').innerHTML = 'Size: ' + fileSize;
            document.getElementById('fileType').innerHTML = 'Type: ' + file.type;
        }
    }

    function uploadFile() {
        var fd = new FormData();
        fd.append("fileToUpload", document.getElementById('cke_2791_fileInput_input').files[0]);
        fd.append("uploadUrl", document.getElementById('current-folder-path').value);
        var xhr = new XMLHttpRequest();
        xhr.upload.addEventListener("progress", uploadProgress, false);
        xhr.addEventListener("load", uploadComplete, false);
        xhr.addEventListener("error", uploadFailed, false);
        xhr.addEventListener("abort", uploadCanceled, false);
        xhr.open("POST", "/uploader/uploadFile");
        xhr.send(fd);
    }

    function uploadProgress(evt) {
        if (evt.lengthComputable) {
            var percentComplete = Math.round(evt.loaded * 100 / evt.total);
            document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
        }
        else {
            document.getElementById('progressNumber').innerHTML = 'unable to compute';
        }
    }

    function uploadComplete(evt) {
        /* This event is raised when the server send back a response */
        //alert(evt.target.responseText);
        console.log(evt);
        var folderPath = document.getElementById('current-folder-path').value;
        loadImgFolder(folderPath);
    }

    function uploadFailed(evt) {
        alert("There was an error attempting to upload the file.");
    }

    function uploadCanceled(evt) {
        alert("The upload has been canceled by the user or the browser dropped the connection.");
    }

    function updateFolder() {
        cancelFolderPopup();
    }
    function cancelFolderPopup() {

        $(".update-folder").hide();
        $("#cke_dialog_background_cover").hide();
    }
    function showUpdateFolder(isNewFolder) {
        $(".update-folder").show();
        $("#cke_dialog_background_cover").show();
        if (isNewFolder) {

            $(".cke_dialog_title").text("Tạo Thư Mục Mới");
            $(".cke_dialog_ui_html").text("Nhập Tên Thư Mục Mới");
        } else {

            $(".cke_dialog_title").text("Đổi Tên Thư Mục");
            $(".cke_dialog_ui_html").text("Tên Mới Của Thư Mục");
        }
    }


    function newFolder() {
        showUpdateFolder(true);
    }

    function renameFolder() {
        showUpdateFolder(false);
    }
//]]>
</script>