﻿
@{
    var guid = Guid.NewGuid();
    var order = (int)ViewBag.QuestionOrder;
}
<tr class="tr-question">
    <td style="text-align:center;vertical-align:middle;width:5%">
        <input type="hidden" id="quesion-index-@guid" name="questionDetail[@order].Order" class="question-order" value="@order" />
        <input type="hidden" class="question-id" name="questionDetail[@order].QuestionDetailId" value="@guid" />
        <input type="hidden" class="question-detail-content" name="questionDetail[@order].QuestionDetailContent" value="{}" />
        @(order + 1)
    </td>
    <td>
        <textarea id="answer-content-@guid" name="questionDetail[@order].Answers[0].AnswerContent" class="thihay-textarea"></textarea>
    </td>
</tr>