    <section class="box-violympic-07">
        <div class="container">
            <div class="row">
                <div class="col col-760" style="width: 100%">
                    <h2 class="title">Lịch sử bài thi
            <a class="btn-back" href="#" title="Quay lại" id="postback">Quay lại</a>
                    </h2>
                    <div class="data">
                        <div class="block-12" id="LogQ">
                            <div class="stats">
                                <div class="row">
                                    <div class="col col-130">
                                        <div class="score">
                                            <div class="inner">
                                                <div class="group">
                                                    <div class="cel">
                                                        <div class="text">ĐIỂM SỐ</div>
                                                        <div class="number">41</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-630">
                                        <h3 id="logNameU">Nhiều hơn, ít hơn, bằng nhau - phạm vi 5</h3>
                                        <div class="table">
                                            <div class="line">
                                                <div class="cel">Lớp:</div>
                                                <div class="cel" id="logGrade"></div>
                                            </div>
                                            <div class="line">
                                                <div class="cel">Ngày bắt đầu:</div>
                                                <div class="cel" id="logStart"></div>
                                            </div>
                                            <div class="line">
                                                <div class="cel">Thực hành gần nhất:</div>
                                                <div class="cel" id="logLast"></div>
                                            </div>
                                            <div class="line">
                                                <div class="cel">Số câu đúng:</div>
                                                <div class="cel" id="logPass"></div>
                                            </div>
                                            <div class="line">
                                                <div class="cel">Số câu sai:</div>
                                                <div class="cel" id="logUnPass"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <input type="hidden" id="ListId" value="<%=ListId %>" />