
    <div id="popup">
    <div id="dialog">
          <div id="icon" class="label-dialog"></div>
          <div class="body-dialog">
            <p class="animated"></p>
          </div>
          </div>
    </div>
    {Common/box_violympic_08}
    {Common/box_violympic_10}
    <input type="hidden" id="hdnSession" data-value="<%=loinged %>" />