    <% if (Userinfo != null)
    { %>
    <script>
        window.location.href = 'Default.aspx';
    </script>
    <% }%>
    <section class="box-violympic-06">
        <div class="container">
            <h2 class="title">Đăng ký</h2>
            <div class="row">
                <div class="col col-450">
                    <div class="block-08">
                        <h3 class="head" >Đăng ký tài khoản mới</h3>
                            <div class="control">
                                <input type="text" placeholder="Họ, tên đệm" class="form-control" name="firstname" value="<%=firstname %>"/>
                            </div>
                            <div class="control">
                                <input type="text" placeholder="Tên" class="form-control" name="lastname" value="<%=lastname %>"/>
                            </div>
                            <div class="control">
                                <input type="text" placeholder="Tài khoản" class="form-control" name="username" id="Gusername" />
                            </div>
                            <div class="control">
                                <input type="password" placeholder="Mật khẩu" class="form-control" name="password" id="Gpassword"/>
                            </div>
                            <div class="control">
                                <input type="password" placeholder="Gõ lại mật khẩu" class="form-control" name="confirm_password" id="Gconfirm_password"/>
                            </div>
                            <div class="control">
                                <input type="email" placeholder="Email" class="form-control" name="email" value="<%=email %>"/>
                            </div>
                            <div class="control">
                                <input type="number" placeholder="Điện thoại" class="form-control" name="phone"/>
                            </div>
                            <div id="dvCaptcha" class="control"></div>
                            <div class="row">
                                <div class="col col-140">
                                    <%--<button type="button" id="btn-register" class="btn-login" onclick="Register()">Đăng ký</button>--%>
                                    <button type="button" id="btn-register" class="btn-login" onclick="Register()">Đăng ký</button>
                                </div>
                                <div class="col col-140">
                                    <div class="handle">
                                        <a href="/Login.aspx" title="">Đăng nhập?</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col col-630" id="boxLoginG">
                    <div class="block-08">
                        <h3 class="head">Đăng nhập bằng tài khoản</h3>
                        <div class="login">
                            <a class="facebook" href="" title=""><span>Đăng ký bằng Facebook</span></a>
                        </div>
                        <div class="login">
                            <a class="google" href="" title=""><span>Đăng ký bằng Gmail</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/Public/js/Site.js"></script>
