<script src="/Public/js/Site.js"></script>
    <section class="box-violympic-07">
        <div class="container">
            <div id="Load" class="row">
               {UserInfo/LeftInfo}
			   
                [if(Tab=="info")]{UserInfo/RightInfo}
                [if(Tab=="vip")]{UserInfo/RightVip}
                [if(Tab=="profile")]{UserInfo/RightProfile}
                [if(Tab=="repass")]{UserInfo/RightRepass}
            </div>
            <input name="hdCity" type="hidden" value="Userinfo.fk_province_id" />
            <input name="hdBith" type="hidden" value="Userinfo.d_bith.ToString() %>" />
        </div>
    </section>