﻿@model IEnumerable<Thihay.API.Client.Models.Subject>

@{
    ViewData["Title"] = "Môn Học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản Lý Môn Học</h2>
<form asp-action="Index" method="get">
    <div class="form-group">
        <label class="col-md-2 control-label">Search</label>
        <div class="col-md-4">
            <input type="text" name="searchKey" class="form-control" />
        </div>
        <div class="col-md-4">
            <input type="submit" value="Search" class="btn btn-default search" />
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Tên Môn Học</th>
                <th>Trạng Thái</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => item.Id)
                        @Html.DisplayFor(modelItem => item.SubjectName, new { @class = "form-control" })
                    </td>
                    <td>
                        @if (item.IsDeleted == false)
                        {
                            @:Active
                        }
                        else
                        {
                            @:Inactive
                            }
                    </td>
                    <td>

                        @if (item.IsDeleted == false)
                        {
                            <input type="button" class="btn btn-default edit-subject-status" value="Sửa" onclick="editSubject(@item.Id, '@item.SubjectName')" />
                            <input type="button" class="btn btn-default change-subject-status" value="Inactive" onclick="changeSubjectStaus(@item.Id,'@item.IsDeleted')" />
                        }
                        else
                        {
                            <input type="button" class="btn btn-default change-subject-status" value="Active" onclick="changeSubjectStaus(@item.Id, '@item.IsDeleted')" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
<form asp-action="Update" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Cập Nhật Môn Học</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="hidden" id="subject-id" name="Id" />
                    <input type="text" id="new-subject-name" name="SubjectName" class="form-control" />
                </td>
                <td>
                    <input type="submit" class="btn btn-default add-new-subject" value="Lưu" />
                    <input type="button" class="btn btn-default discard-subject-update" value="Hủy" />
                </td>
            </tr>
        </tbody>
    </table>
</form>
<form asp-action="ChangeStatus" method="post" id="change-subject-status-form">
    <input type="hidden" id="subject-id-status" name="subjectId" />
    <input type="hidden" id="subject-status" name="isDelete" />
</form>