﻿<footer class="footer" style="background: #f7f7f7 url(/asset/img/pattern-xv.png) repeat center center;">
    <div class="container" style="padding-bottom:30px">
        <div class="row">
            <div class="col col-360">
                <div class="block-06">
                    <h2>
                        <a>
                            <img src="~/asset/img/logo.png" width="290" height="147" alt="" />
                        </a>
                    </h2>

                    <p>
                        Newschool.vn là website cung cấp các khóa học online tất cả các môn học dành cho học sinh từ tiểu học đến trung học phổ thông với nội dung phong phú, đa dạng, dễ hiểu và hấp dẫn học sinh, kích thích sáng tạo và tiết kiệm thời gian hơn.
                    </p>
                    <h4>100.000 câu hỏi có đáp án và lời giải chi tiết.</h4>
                </div>
            </div>

            <div class="col col-180" style="width: 29.66667%;margin-left: 39px;">
                <div class="block-07">
                    @*<i class="fa fa-database fa-3x"></i>
                        <h4>Đề thi và bài tập chất lượng </h4>
                        <p>Hệ thống câu hỏi được thiết kế và chọn lọc kĩ càng nhất, bám sát chương trình SGK của bộ GD, được xây dựng và bởi những thầy cô uy tín và chuyên môn cao.</p>
                        <i class="fa fa-cogs fa-3x"></i>
                        <h4>Thi đa dạng, học phong phú </h4>
                        <p>Tập trung vào các môn học trọng tâm như Toán, Toán tiếng anh… với đa dạng hình thức thi và luyện học chuyên đề theo từng khối lớp sẽ giúp cho học sinh ôn luyện kiến thức một cách vững chắc nhất.</p>*@
                </div>
            </div>

            <div class="col col-180" style="width: 29.66667%;margin-left: 39px;float:right">
                <div class="block-07">
                    <h3>
                        <a style="font-size: 1.3em;">Liên hệ</a>
                    </h3>
                    <ul style="margin-top:35px;">
                        <li>
                            <a>
                                <i class="fa fa-map-marker footer-i"></i>
                                <span>
                                    Số 254 đường Bưởi - Phường Cống Vị - Quận Ba Đình - Hà Nội
                                </span>
                            </a>
                        </li>
                        <li>
                            <a><i class="fa fa-envelope-o footer-i"></i>hotro.newschool.vn@gmail.com</a>
                        </li>
                        <li>
                            <a><i class="fa fa-phone footer-i"></i>Liên hệ hợp tác: 0963030693</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/thihay.vn/" target="_blank"><i class="fa fa-facebook footer-i"></i>Fanpage.</a>
                        </li>
                        <li>
                            <a><i class="fa fa-copyright footer-i"></i>Copyright 2017 Newschool. All Rights Reserved.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>