﻿<header class="header">
    <div class="header-top">
    </div>
    <div class="header-mid">
        <div class="container">
            <h1 class="logo">
                <a asp-route="homepage" title="Violimpic Logo">
                    <img src="~/asset/img/logo.png" width="290" height="147" alt="Violimpic Logo" />
                </a>
            </h1>
            <div class="login">
                <div class="row">
                    @await Component.InvokeAsync("User")
                </div>
            </div>
        </div>
    </div>
    <div class="header-bot">
        <div class="container">
            <div class="row">
                <div class="col col-798">
                    <nav class="nav-main">
                        @*@(await Html.PartialAsync("_Menu"))*@
                        @await Component.InvokeAsync("Menu")
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>