﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<meta name="google-signin-client_id" content="621764860303-rcat6q7pems5gjmlmf9rnc44gdpakrtc.apps.googleusercontent.com">*@
    <title>@ViewData["Title"] - NewSchool</title>

    @await Html.PartialAsync("_Style")
    @await Html.PartialAsync("_Script")

    @Html.Raw(JavaScriptSnippet.FullScript)

</head>
<body>
    @*<div id="fb-root"></div>
    <script>
        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                var authResponse = response.authResponse;
                window.location = "/facebookSignIn?fbaccesstoken=" + authResponse.accessToken;
            } else {
                // The person is not logged into your app or we are unable to tell.

            }
        }

        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }
        function logoutFacebook() {
            FB.logout(function () { window.location.reload(); });
        }


        window.fbAsyncInit = function () {
            FB.init({
                appId: '249392172235719',
                cookie: true,
                xfbml: true,
                version: 'v2.8'
            });
            FB.AppEvents.logPageView();

            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    var authResponse = response.authResponse;
                    window.location = "/facebookSignIn?fbaccesstoken=" + authResponse.accessToken;
                } else {
                    // The person is not logged into your app or we are unable to tell.

                }


            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=249392172235719";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    </script>*@

    <div class="wrapper" id="wrapper">
        <div class="main" id="main">

            @(await Html.PartialAsync("_Header"))

            @RenderBody()

            @(await Html.PartialAsync("_Footer"))

            <div class="overlay" data-overlay="true"></div>
        </div>
        <div class="menu-left" id="menu-left">
            <div class="inner">
                <a href="#menu-left" title="Menu" class="btn-menu" data-menu="true">Menu</a>
                <!--<a href="#menu-left" title="Close" data-close="true" class="btn-close"><i class="fa fa-times"></i></a>-->
                <div class="head">
                    <a href="#" title="VIOLYMPIC NETWORK" data-violypic="true">
                        <span class="label">Học Trực Tuyến:</span>
                        <span class="text">Thihay</span>
                    </a>
                </div>
                <div class="data-mobile" data-mobile="true">

                    @if (Context.Request.Cookies["access_token"] == null)
                    {
                        <div class="login">
                            <div class="item">
                                <a class="btn-register" href="" title="Đăng ký">Đăng ký</a>
                            </div>
                            <div class="item">
                                <a class="btn-login" href="" title="Đăng nhập">Đăng nhập</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <nav class="nav-mobile">
                            <ul>
                                <li>
                                    <a asp-route="information" title=""><span>Thông tin tài khoản</span></a>
                                </li>
                                @*<li>
                                        <a asp-route="vipinfo" class="@(currentMenu=="vipinfo"? "active":"")" title=""><span>Thông tin VIP</span></a>
                                    </li>*@
                                <li>
                                    <a asp-route="profile" title=""><span>Học bạ</span></a>
                                </li>
                                <li>
                                    <a asp-route="changepassword" title=""><span>Đổi mật khẩu</span></a>
                                </li>
                                <li>
                                    <a asp-route="logout" title=""><span><i class="fa fa-sign-out"></i>Thoát</span></a>
                                </li>
                            </ul>

                            @*@(await Html.PartialAsync("_Menu"))*@
                            @*@await Component.InvokeAsync("Menu", "subject")*@
                        </nav>
                    }
                    <div class="hotline">
                        <div class="item">
                            <a href="tel:19006082">
                                <i class="fa fa-phone"></i>
                                <span class="label">TỔNG ĐÀI 24/7</span>
                                <span class="phone">1900 6082</span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="mailto:info@violympic.vn">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label">EMAIL CHO CHÚNG TÔI</span>
                                <span class="phone">info@violympic.vn</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="data-network" data-network="true">
                    <nav class="nav-mobile">
                        @*@(await Html.PartialAsync("_Menu"))*@
                        @await Component.InvokeAsync("Menu", "class")
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- //wrapper -->
    <!-- Script -->

    <script src="~/asset/js/common.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>