<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<script src="~/asset/js/modernizr.min.js" type="text/javascript"></script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
@*<script>
        MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
    </script>*@

<script type="text/javascript" src="~/lib/MathJax-2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    messageStyle: 'none',
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]},
    "HTML-CSS": {
    preferredFont: "STIX"
    }
    });
</script>
<script src="~/js/jquery-3.2.1.js"></script>
<script src="~/lib/mathquill-0.10.1/mathquill.js"></script>
<script>
    var MQ = MathQuill.getInterface(2);

</script>
<script src="~/asset/js/jquery.validate.min.js"></script>
<script src="~/asset/js/jquery.matchHeight.min.js"></script>
<script src="~/js/jquery.bxslider.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="asset/js/respond.src.min.js"></script>
<![endif]-->
<script src="~/Public/jAlert-master/src/jAlert-v3.js"></script>
<script src="~/Public/jAlert-master/src/jAlert-functions.js"></script>
<script src="~/Public/jquery-ui-1.11.4/jquery-ui.js" type="text/javascript"></script>
<script src="~/Public/jwarby-jquery-awesome-cursor-d4b04e4/dist/jquery.awesome-cursor.min.js"></script>
<script src="~/Public/jwarby-jquery-awesome-cursor-d4b04e4/dist/jquery.awesome-cursor.js"></script>
<script src="~/Public/canvasjs-1.8.0/canvasjs.min.js"></script>
<script src="https://code.responsivevoice.org/responsivevoice.js"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
<script src="~/Public/js/Site.js"></script>
<script src="~/Public/js/Play.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>