@*<environment names="Development">
    <link rel="stylesheet" href="~/asset/css/style.css" type="text/css" />
    <link rel="stylesheet" href="~/Public/jAlert-master/src/jAlert-v3.css" />
    <link rel="stylesheet" href="~/Public/css/style.css" />
    <link rel="stylesheet" href="~/Public/css/animate.css" />
    <link rel="stylesheet" href="~/Public/font-awesome-4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/public.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/public.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</environment>*@

<link rel="stylesheet" href="~/asset/css/style.css" type="text/css" />
<link rel="stylesheet" href="~/Public/jAlert-master/src/jAlert-v3.css" />
<link rel="stylesheet" href="~/Public/css/style.css" />
<link rel="stylesheet" href="~/Public/css/animate.css" />
<link rel="stylesheet" href="~/Public/font-awesome-4.5.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@*<link rel="stylesheet" href="~/css/jquery.bxslider.css" asp-append-version="true" />*@
<link rel="stylesheet" href="~/lib/mathquill-0.10.1/mathquill.css" />