<div id="math-key-pad" class="math-key-pad" style="display: block;visibility:hidden">
    <ul style="list-style:none;">
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-1">
                0
            </script>
            <input type="hidden" value="0">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-2">
                1
            </script>
            <input type="hidden" value="1">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-3">
                2
            </script>
            <input type="hidden" value="2">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-4">
                3
            </script>
            <input type="hidden" value="3">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-5">
                4
            </script>
            <input type="hidden" value="4">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-6">
                5
            </script>
            <input type="hidden" value="5">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-7">
                6
            </script>
            <input type="hidden" value="6">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-8">
                7
            </script>
            <input type="hidden" value="7">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-9">
                8
            </script>
            <input type="hidden" value="8">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-10">
                9
            </script>
            <input type="hidden" value="9">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-11">
                .
            </script>
            <input type="hidden" value=".">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-12">
                +
            </script>
            <input type="hidden" value="+">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-13">
                -
            </script>
            <input type="hidden" value="-">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-14">
                \times
            </script>
            <input type="hidden" value="\times">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-15">
                \div
            </script>
            <input type="hidden" value="\div">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-16">
                =
            </script>
            <input type="hidden" value="=">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-17">
                >
            </script>
            <input type="hidden" value=">">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-18">
                <
            </script>
            <input type="hidden" value="<">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-19">
                \le
            </script>
            <input type="hidden" value="\le ">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-20">
                \ge
            </script>
            <input type="hidden" value="\ge ">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-21">
                \pm
            </script>
            <input type="hidden" value="\pm ">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-22">
                \frac{x}{y}
            </script>
            <input type="hidden" value="\frac ">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-23">
                x^y
            </script>
            <input type="hidden" value="^ ">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-24">
                \sqrt{x}
            </script>
            <input type="hidden" value="\sqrt ">
        </li>
        <li class="key-pad-btn">
            <script type="math/tex" id="MathJax-Element-25">
                \sqrt[y]{x}
            </script>
            <input type="hidden" value="\nthroot " ">
        </li>
    </ul>
</div>
