﻿@model IEnumerable<SelectListItem>

@Html.DropDownList("subjectId", Model, "--Chọn Môn Học--", new { @class = "form-control subject-dropdown-list" })

<script type="text/javascript">
    $(".subject-dropdown-list").on("change", function () {
        var classId = $('.class-dropdown-list :selected').val();
        var subjectId = $('.subject-dropdown-list :selected').val();
        if (subjectId) {
            getTopicDropdownList(classId, subjectId);
            getUnitDropdownList(classId, subjectId);
        }
    });
</script>